static/stepfunctions/definitions/RetryAlgorithmStateMachine.json
{
  "Comment": "A description of my state machine",
  "StartAt": "PreRunRetryLambda",
  "States": {
    "PreRunRetryLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${PreRunRetryLambdaName}",
        "Payload": {
          "skipStepExecutionCheck.$": "$$.Execution.Input.SKIP_STEP_EXECUTION_CHECK",
          "executionArn.$": "$$.Execution.Id",
          "deliveryDate.$": "$$.Execution.Input.DELIVERY_DATE"
        }
      },
      "ResultSelector": {
        "schedulerName.$": "$.Payload.schedulerName",
        "schedulerExpression.$": "$.Payload.schedulerExpression",
        "schedulerEndDate.$":"$.Payload.schedulerEndDate",
        "deliveryDate.$": "$.Payload.deliveryDate",
        "executeRetryAlgorithm.$": "$.Payload.executeRetryAlgorithm"
      },
      "ResultPath": "$.preRunRetryResponse",
      "Next": "canExecuteRetryAlgorithm",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "OnCallFail"
        }
      ]
    },
    "canExecuteRetryAlgorithm": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "DisableDelayerToPaperChannelDailyActiveScheduler",
          "And": [
            {
              "Variable": "$.preRunRetryResponse.executeRetryAlgorithm",
              "IsPresent": true
            },
            {
              "Variable": "$.preRunRetryResponse.executeRetryAlgorithm",
              "BooleanEquals": true
            }
          ]
        }
      ],
      "Default": "StandardFail"
    },
    "DisableDelayerToPaperChannelDailyActiveScheduler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:scheduler:updateSchedule",
      "Parameters": {
        "Name.$": "$.preRunRetryResponse.schedulerName",
        "State": "DISABLED",
        "FlexibleTimeWindow": {
          "Mode": "OFF"
        },
        "StartDate.$": "$$.State.EnteredTime",
        "EndDate.$": "$.preRunRetryResponse.schedulerEndDate",
        "ScheduleExpression.$": "$.preRunRetryResponse.schedulerExpression",
        "Target": {
          "Arn": "${DelayerToPaperChannelStateMachine}",
          "RoleArn": "${DelayerToPaperChannelDailyScheduleRuleRoleArn}",
          "Input": {
            "PAPERDELIVERYCOUNTER_TABLENAME": "${PaperDeliveryCounterTableName}",
            "PAPERDELIVERY_TABLENAME": "${PaperDeliveryTableName}",
            "PN_DELAYER_DELIVERYDATEDAYOFWEEK": "${DeliveryDateDayOfWeek}"
          }
        }
      },
      "ResultPath": null,
      "Next": "ResetDataJobGlue",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "OnCallFail"
        }
      ]
    },
    "ResetDataJobGlue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${ResetDataJobGlueName}",
        "Arguments": {
          "--delivery-date.$": "$.preRunRetryResponse.deliveryDate"
        }
      },
      "ResultPath": null,
      "Next": "BatchWorkflowStateMachineStartExecution",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "StandardFail"
        }
      ]
    },
    "BatchWorkflowStateMachineStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${BatchWorkflowStateMachineArn}",
        "Input": {
          "PAPERDELIVERY_TABLENAME": "${PaperDeliveryTableName}",
          "PAPERDELIVERYDRIVERCAPACITIES_TABLENAME": "${PaperDeliveryDriverCapacitiesTableName}",
          "PAPERDELIVERYDRIVERUSEDCAPACITIES_TABLENAME": "${PaperDeliveryDriverUsedCapacitiesTableName}",
          "PAPERDELIVERYSENDERLIMIT_TABLENAME": "${PaperDeliverySenderLimitTableName}",
          "PAPERDELIVERYUSEDSENDERLIMIT_TABLENAME": "${PaperDeliveryUsedSenderLimitTableName}",
          "PAPERDELIVERYCOUNTER_TABLENAME": "${PaperDeliveryCounterTableName}",
          "PN_DELAYER_DELIVERYDATEDAYOFWEEK": "1",
          "PN_DELAYER_PRINTCAPACITY": "${PrintCapacity}",
          "PN_DELAYER_DELIVERYWEEK.$": "$.preRunRetryResponse.deliveryDate",
          "PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON": "${DelayerToPaperChannelFirstSchedulerCron}",
          "PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON": "${DelayerToPaperChannelSecondSchedulerCron}",
          "PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE": "${DelayerToPaperChannelFirstSchedulerStartDate}",
          "PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE": "${DelayerToPaperChannelSecondSchedulerStartDate}"
        }
      },
      "ResultPath": null,
      "Next": "EnableDelayerToPaperChannelDailyActiveScheduler",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "StandardFail"
        }
      ]
    },
    "EnableDelayerToPaperChannelDailyActiveScheduler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:scheduler:updateSchedule",
      "Parameters": {
        "Name.$": "$.preRunRetryResponse.schedulerName",
        "State": "ENABLED",
        "FlexibleTimeWindow": {
          "Mode": "OFF"
        },
        "StartDate.$": "$$.State.EnteredTime",
        "EndDate.$": "$.preRunRetryResponse.schedulerEndDate",
        "ScheduleExpression.$": "$.preRunRetryResponse.schedulerExpression",
        "Target": {
          "Arn": "${DelayerToPaperChannelStateMachine}",
          "RoleArn": "${DelayerToPaperChannelDailyScheduleRuleRoleArn}",
          "Input": {
            "PAPERDELIVERYCOUNTER_TABLENAME": "${PaperDeliveryCounterTableName}",
            "PAPERDELIVERY_TABLENAME": "${PaperDeliveryTableName}",
            "PN_DELAYER_DELIVERYDATEDAYOFWEEK": "${DeliveryDateDayOfWeek}"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "OnCallFail"
        }
      ],
      "Next": "ExecutionCompleted"
    },
    "ExecutionCompleted": {
      "Type": "Succeed"
    },
    "OnCallFail": {
      "Type": "Fail"
    },
    "StandardFail": {
      "Type": "Fail"
    }
  }
}