static/stepfunctions/definitions/RetryAlgorithmStateMachine.json
{
  "Comment": "A description of my state machine",
  "StartAt": "DisableDelayerToPaperChannelDailyFirstScheduler",
  "States": {
    "DisableDelayerToPaperChannelDailyFirstScheduler": {
      "Type": "Task",
      "Arguments": {
        "Name": "${DelayerToPaperChannelDailyFirstScheduler}",
        "State": "DISABLED",
        "FlexibleTimeWindow": {
          "Mode": "OFF"
        },
        "ScheduleExpression": "${DelayerToPaperChannelFirstScheduleExpression}",
        "Target": {
          "Arn": "${DelayerToPaperChannelStateMachine}",
          "RoleArn": "${DelayerToPaperChannelDailyScheduleRuleRoleArn}"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:scheduler:updateSchedule",
      "Next": "DisableDelayerToPaperChannelDailySecondScheduler",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DisableRuleFail"
        }
      ]
    },
    "DisableDelayerToPaperChannelDailySecondScheduler": {
      "Type": "Task",
      "Arguments": {
        "Name": "${DelayerToPaperChannelDailySecondScheduler}",
        "State": "DISABLED",
        "FlexibleTimeWindow": {
          "Mode": "OFF"
        },
        "ScheduleExpression": "${DelayerToPaperChannelSecondScheduleExpression}",
        "Target": {
          "Arn": "${DelayerToPaperChannelStateMachine}",
          "RoleArn": "${DelayerToPaperChannelDailyScheduleRuleRoleArn}"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:scheduler:updateSchedule",
      "Next": "ResetDataJobGlue",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DisableRuleFail"
        }
      ]
    },
    "DisableRuleFail": {
      "Type": "Fail"
    },
    "ResetDataJobGlue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Arguments": {
        "JobName": "${ResetDataJobGlueName}",
        "Arguments": {
          "--delivery-week": "{% $states.input.deliveryWeek %}"
        }
      },
      "Next": "BatchWorkflowStateMachineStartExecution",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "JobGlueFail"
        }
      ]
    },
    "JobGlueFail": {
      "Type": "Fail"
    },
    "BatchWorkflowStateMachineStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${BatchWorkflowStateMachineArn}",
        "Input": {
          "PAPERDELIVERY_TABLENAME": "${PaperDeliveryTableName}",
          "PAPERDELIVERYDRIVERCAPACITIES_TABLENAME": "${PaperDeliveryDriverCapacitiesTableName}",
          "PAPERDELIVERYDRIVERUSEDCAPACITIES_TABLENAME": "${PaperDeliveryDriverUsedCapacitiesTableName}",
          "PAPERDELIVERYSENDERLIMIT_TABLENAME": "${PaperDeliverySenderLimitTableName}",
          "PAPERDELIVERYUSEDSENDERLIMIT_TABLENAME": "${PaperDeliveryUsedSenderLimitTableName}",
          "PAPERDELIVERYCOUNTER_TABLENAME": "${PaperDeliveryCounterTableName}",
          "PN_DELAYER_DELIVERYDATEDAYOFWEEK": "1",
          "PN_DELAYER_PRINTCAPACITY": "${PrintCapacity}",
          "PN_DELAYER_DELIVERYWEEK": null,
          "PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON": "${DelayerToPaperChannelFirstSchedulerCron}",
          "PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON": "${DelayerToPaperChannelSecondSchedulerCron}",
          "PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE": "${DelayerToPaperChannelFirstSchedulerStartDate}",
          "PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE": "${DelayerToPaperChannelSecondSchedulerStartDate}"
        }
      },
      "Next": "EnableDelayerToPaperChannelDailyFirstScheduler",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RetryStepFail"
        }
      ]
    },
    "RetryStepFail": {
      "Type": "Fail"
    },
    "EnableDelayerToPaperChannelDailyFirstScheduler": {
      "Type": "Task",
      "Arguments": {
        "Name": "${DelayerToPaperChannelDailyFirstScheduler}",
        "State": "ENABLED",
        "FlexibleTimeWindow": {
          "Mode": "OFF"
        },
        "ScheduleExpression": "${DelayerToPaperChannelFirstScheduleExpression}",
        "Target": {
          "Arn": "${DelayerToPaperChannelStateMachine}",
          "RoleArn": "${DelayerToPaperChannelDailyScheduleRuleRoleArn}"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:scheduler:updateSchedule",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "EnableRuleFail"
        }
      ],
      "Next": "EnableDelayerToPaperChannelDailySecondScheduler"
    },
    "EnableDelayerToPaperChannelDailySecondScheduler": {
      "Type": "Task",
      "Arguments": {
        "Name": "${DelayerToPaperChannelDailySecondScheduler}",
        "State": "ENABLED",
        "FlexibleTimeWindow": {
          "Mode": "OFF"
        },
        "ScheduleExpression": "${DelayerToPaperChannelSecondScheduleExpression}",
        "Target": {
          "Arn": "${DelayerToPaperChannelStateMachine}",
          "RoleArn": "${DelayerToPaperChannelDailyScheduleRuleRoleArn}"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:scheduler:updateSchedule",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "EnableRuleFail"
        }
      ]
    },
    "EnableRuleFail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata"
}