static/stepfunctions/definitions/SwitchOffStateMachine.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SwitchOffAlgorithmLambda",
  "States": {
    "SwitchOffAlgorithmLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${SwitchOffAlgorithmLambdaArn}",
        "Payload": {
          "executionLimit": "${SwitchOffAlgorithmLambdaExecutionLimit}",
          "lastEvaluatedKey": "{% $states.input.lastEvaluatedKey %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "LastEvaluatedKeyIsPresent?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SwitchOffAlgorithmLambdaFail"
        }
      ]
    },
    "SwitchOffAlgorithmLambdaFail": {
      "Type": "Fail"
    },
    "LastEvaluatedKeyIsPresent?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Wait",
          "Condition": "{% $states.input.lastEvaluatedKey != null %}"
        }
      ],
      "Default": "Success"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": "{% $states.input.waitSeconds %}",
      "Next": "SwitchOffAlgorithmLambda"
    },
    "Success": {
      "Type": "Succeed"
    }
  },
  "QueryLanguage": "JSONata"
}