static/stepfunctions/definitions/SwitchOffStateMachine.json
{
  "Comment": "Switch off algorithm with DynamoDB pagination",
  "StartAt": "SwitchOffAlgorithmLambda",
  "States": {
    "SwitchOffAlgorithmLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "executionLimit": "${SwitchOffAlgorithmLambdaExecutionLimit}",
          "lastEvaluatedKey.$": "$.lastEvaluatedKey"
        },
        "FunctionName": "${SwitchOffAlgorithmLambdaArn}"
      },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "LastEvaluatedKeyIsPresent?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SwitchOffAlgorithmLambdaFail"
        }
      ]
    },
    "SwitchOffAlgorithmLambdaFail": {
      "Type": "Fail"
    },
    "LastEvaluatedKeyIsPresent?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lastEvaluatedKey",
          "IsPresent": true,
          "Next": "Wait"
        }
      ],
      "Default": "Success"
    },
    "Wait": {
      "Type": "Wait",
      "Next": "SwitchOffAlgorithmLambda",
      "SecondsPath": "$.delaySeconds"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}