static/stepfunctions/definitions/SwitchOffStateMachine.json
{
  "Comment": "Switch off algorithm with DynamoDB pagination",
  "StartAt": "SwitchOffAlgorithmCurrentWeek",
  "States": {
    "SwitchOffAlgorithmCurrentWeek": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SwitchOffAlgorithmLambdaArn}",
        "Payload": {
          "executionLimit": "${SwitchOffAlgorithmLambdaExecutionLimit}",
          "currentWeek": true,
          "lastEvaluatedKey.$": "$.lastEvaluatedKey"
        }
      },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "CurrentWeekHasMoreItems?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SwitchOffAlgorithmLambdaFail"
        }
      ]
    },
    "CurrentWeekHasMoreItems?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lastEvaluatedKey",
          "IsNull": false,
          "Next": "WaitForCurrentWeek"
        }
      ],
      "Default": "WaitBetweenAlgorithms"
    },
    "WaitForCurrentWeek": {
      "Type": "Wait",
      "SecondsPath": "$.delaySeconds",
      "Next": "SwitchOffAlgorithmCurrentWeek"
    },
    "WaitBetweenAlgorithms": {
      "Type": "Wait",
      "SecondsPath": "$.delaySeconds",
      "Next": "SwitchOffAlgorithmNextWeek"
    },
    "SwitchOffAlgorithmNextWeek": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SwitchOffAlgorithmLambdaArn}",
        "Payload": {
          "executionLimit": "${SwitchOffAlgorithmLambdaExecutionLimit}",
          "currentWeek": false,
          "lastEvaluatedKey.$": "$.lastEvaluatedKey"
        }
      },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SwitchOffAlgorithmLambdaFail"
        }
      ],
      "Next": "NextWeekHasMoreItems?"
    },
    "NextWeekHasMoreItems?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lastEvaluatedKey",
          "IsNull": false,
          "Next": "WaitForNextWeek"
        }
      ],
      "Default": "Success"
    },
    "WaitForNextWeek": {
      "Type": "Wait",
      "Next": "SwitchOffAlgorithmNextWeek",
      "SecondsPath": "$.delaySeconds"
    },
    "SwitchOffAlgorithmLambdaFail": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}