scripts/aws/cfn/microservice.yml
AWSTemplateFormatVersion: 2010-09-09
Description: 'Microservice deploy for pn-delayer'

Parameters:
  ProjectName:
    Type: String
    Description: 'Usually pn can be pnXYZ where XYZ are the feature number, useful to create
      experimental environments without crash official development environment'

  AlarmSNSTopicArn:
    Type: String
    Description: ARN of alarm topic

  WebApiDnsName:
    Type: String
    Description: 'The DNS name used for WEB rest API.'
  
  CorsAllowedDomains:
    Type: String
    Description: 'Comma separated list of domains allowed to make cross origin request'

  ContainerImageUri:
    Type: String
    Description: 'Exact container image URI with full repository and image digest'

  MicroserviceNumber:
    Type: Number
    Description: 'Disambiguation useful for load balancer rules'

  TemplateBucketBaseUrl:
    Type: String
    Description: 'The S3 bucket from which to fetch the templates used by this stack.'

  ECSClusterName:
    Type: String
    Description: 'The name of the ECS cluster where the microservice is going to be deployed'

  SubnetsIds:
    Type: String
    Description: 'subnets ids comma separated list. Where to deploy the microservice'

  VpcEgressSubnetsIds:
    Type: String
    Description: 'List of egress subnets'

  VpcId:
    Type: String
    Description: 'VpcId where the microservice is going to be deployed'
  
  EcsDefaultSecurityGroup:
    Type: String
    Description: 'Default security group required by infrastructure'

  ApplicationLoadBalancerListenerArn:
    Type: String
    Description: 'Load balancer listener where HTTP endpoints is going to be registered'

  ApplicationLoadBalancerDomain:
    Type: String
    Description: 'Base URL of the load balancer where the service is going to be reachable'

  NetworkLoadBalancerLink:
    Type: String
    Description: 'network load balancer link for API-GW'
  
  LogsKinesisSourceStreamArn:
    Type: String
    Description: 'Kinesis stream that receive logs'

  CdcKinesisSourceStreamArn:
    Type: String
    Description: 'Where to send CDC'

  CdcKinesisSourceStreamKeyArn:
    Description: "Kinesis source CDC stream crypto key ARN"
    Type: String

  Version:
    Type: String
    Description: 'keep track of used projects commitIds'

  PaperDeliveryDriverCapacitiesTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliveryDriverCapacities'

  PaperDeliveryDriverCapacitiesTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliveryDriverCapacities'

  PaperDeliveryDriverCapacitiesMockTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliveryDriverCapacitiesMock'

  PaperDeliveryDriverCapacitiesMockTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliveryDriverCapacitiesMock'

  PaperDeliveryDriverUsedCapacitiesTableName:
    Type: String
    Description: 'DynamoDB table name for  PaperDeliveryDriverUsedCapacities'

  PaperDeliveryDriverUsedCapacitiesTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing  PaperDeliveryDriverUsedCapacities'

  PaperDeliveryDriverUsedCapacitiesMockTableName:
    Type: String
    Description: 'DynamoDB table name for  PaperDeliveryDriverUsedCapacitiesMock'

  PaperDeliveryDriverUsedCapacitiesMockTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing  PaperDeliveryDriverUsedCapacitiesMock'

  PaperDeliveryKinesisEventTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliveryKinesisEvent'

  PaperDeliveryCounterTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliveryCounter'

  PaperDeliveryCounterTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliveryCounter'

  PaperDeliveryCounterMockTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliveryCounterMock'

  PaperDeliveryCounterMockTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliveryCounterMock'

  PaperDeliveryKinesisEventTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliveryKinesisEvent'

  PaperDeliveryTableName:
    Type: String
    Description: Name of dynamodb table containing paper deliveries workflow

  PaperDeliveryTableArn:
    Type: String
    Description: ARN of dynamodb table containing paper deliveries workflow

  PaperDeliveryMockTableName:
    Type: String
    Description: Name of dynamodb table containing mock paper deliveries workflow

  PaperDeliveryMockTableArn:
    Type: String
    Description: ARN of dynamodb table containing mock paper deliveries workflow

  PaperDeliveryTableStreamArn:
    Type: String
    Description: 'ARN of dynamodb table stream containing paper deliveries workflow'

  PaperDeliveryQueryLimit:
    Type: Number
    Default: 1000
    Description: 'Query limit for paper delivery table'

  PaperDeliverySenderLimitTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliverySenderLimit'

  PaperDeliverySenderLimitTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliverySenderLimit'

  PaperDeliveryUsedSenderLimitTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliveryUsedSenderLimit'

  PaperDeliveryUsedSenderLimitTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliveryUsedSenderLimit'

  PaperDeliveryUsedSenderLimitMockTableName:
    Type: String
    Description: 'DynamoDB table name for PaperDeliveryUsedSenderLimitMock'

  PaperDeliveryUsedSenderLimitMockTableArn:
    Type: String
    Description: 'ARN of dynamodb table containing PaperDeliveryUsedSenderLimitMock'

  DeliveryDateDayOfWeek:
    Type: Number
    Description: 'Day of the week for capacity (0=Sunday, 1=Monday, 2=Tuesday, 3=Wednesday, 4=Thursday, 5=Friday, 6=Saturday)'
    Default: 1

  PrintCapacityWeeklyWorkingDays:
    Type: Number
    Description: 'Number of working days in a week'
    Default: 7

  DeliveryDateInterval:
    Type: String
    Description: 'Interval for deliveryDate setting'
    Default: 1d

  PaperDeliveryCutOffDuration:
    Type: String
    Description: 'Cut off duration for paper delivery. available value = 7d (weekly cut-off), 0d (no cut-off))'
    Default: 7d

  PaperDeliveryKinesisRecordsTtlSeconds:
    Type: Number
    Description: 'Kinesis sequence number TTL duration for paper delivery.'
    Default: 86400 # 1 day in seconds

  PaperDeliveryCounterTtlDays:
    Type: Number
    Description: 'Kinesis sequence number TTL duration in days for paper delivery.'
    Default: 14

  VpcCidr:
    Type: String
    Description: 'VPC Cidr default'

  SenderLimitJobLogGroup:
    Type: String
    Description: 'SenderLimit job log group name'

  DriverCapacityJobLogGroup:
    Type: String
    Description: 'DriverCapacity job log group name'

  ResidualCapacityJobLogGroup:
    Type: String
    Description: 'ResidualCapacity job log group name'

  MaxvCpus:   ##TODEFINE in order to set the max number of parallel jobs
    Type: String
    Default: 8
    Description: The maximum number of Amazon EC2 vCPUs that an environment can reach.

  VCPU:     ##TODEFINE in order to set the max number of parallel jobs
    Type: String
    Default: 1
    Description: The number of vCPUs reserved for the container.

  ComputeResourceType:
    Type: String
    Default: FARGATE
    AllowedValues:
      - FARGATE_SPOT
      - FARGATE
    Description: Enter FARGATE_SPOT or FARGATE.

  Memory:
    Type: String
    Default: 4096
    Description: The memory hard limit (in MiB) present to the container.

  PnDelayerInputsKinesisDataStreamArn:
    Type: String
    Description: 'pn-delayer_inputs kinesis stream ARN'

  PnDelayerInputsKinesisDataStreamKMSArn:
    Type: String
    Description: 'pn-delayer_inputs kinesis stream KMS ARN'

  JobInputUnifiedDeliveryDriver:
    Type: String
    Default: ' '
    Description: 'Input unifiedDeliveryDriver for the driver capacity job'

  WorkflowStep:
    Type: String
    Default: ' '
    Description: 'Workflow step for delayer jobs - one of: EVALUATE_SENDER_LIMIT,EVALUATE_RESIDUAL_CAPACITY,EVALUATE_DRIVER_CAPACITY'

  JobInputProvinceList:
    Type: String
    Default: ' '
    Description: 'Input Province list for the driver capacity job'

  ActualTenderId:
    Type: String
    Default: ' '
    Description: 'TenderId for the driver capacity job'

  JobInputProvince:
    Type: String
    Default: ' '
    Description: 'Input Province for the sender limit job'

  # OpenApi Bucket params
  MicroserviceBucketName:
    Type: String
    Default: ''
    Description: 'Name of the bucket where the microservice files are copied during deploy'

  MicroserviceBucketBaseKey:
    Type: String
    Default: ''
    Description: 'Base key of the microservice in the s3 bucket'

  LambdaRuntime:
    Type: String
    Default: nodejs20.x
    Description: Runtime for Lambdas.

  KinesisPaperDeliveryLambdaDLQARN:
    Type: String
    Description: 'DLQ ARN for KinesisPaperDeliveryLambda'

  KinesisPaperDeliveryLambdaMaxRetry:
    Type: Number
    Default: 1
    Description: 'Maximum retry attempts for KinesisPaperDeliveryLambda'

  KinesisPaperDeliveryLambdaBatchSize:
    Type: Number
    Default: 25
    Description: 'Batch size for KinesisPaperDeliveryLambda'

  KinesisPaperDeliveryLambdaName:
    Type: String
    Description: 'KinesisPaperDeliveryLambda function name'

  KinesisPaperDeliveryLambdaMaxBatchWindowInSeconds:
    Type: Number
    Default: 20
    Description: 'Maximum batching window in seconds for KinesisPaperDeliveryLambda'

  KinesisNotificationCancellationLambdaName:
    Type: String
    Description: 'KinesisNotificationCancellationLambdaName function name'

  KinesisNotificationCancellationLambdaDLQARN:
    Type: String
    Description: 'DLQ ARN for KinesisNotificationCancellationLambda'

  KinesisNotificationCancellationLambdaMaxRetry:
    Type: Number
    Default: 3
    Description: 'Maximum retry attempts for KinesisNotificationCancellationLambda'

  KinesisNotificationCancellationLambdaBatchSize:
    Type: Number
    Default: 25
    Description: 'Batch size for KinesisNotificationCancellationLambda'

  KinesisNotificationCancellationLambdaBatchWindowInSeconds:
    Type: Number
    Default: 20
    Description: 'Maximum batching window in seconds for KinesisNotificationCancellationLambda'

  DelayerToPaperChannelLambdaName:
    Type: String
    Description: 'DelayerToPaperChannelLambda function name'

  DelayerToPaperChannelQueueARN:
    Type: String
    Description: Events from pn-delayer TO pn-paper-channel queue ARN

  DelayerToPaperChannelQueueQueueURL:
    Type: String
    Description: Events from pn-delayer TO pn-paper-channel queue URL

  DelayerToPaperChannelPipeState:
    Type: String
    Default: 'STOPPED'
    Description: 'Desired state of the DelayerStartWorkflowPipe'
    AllowedValues:
      - 'RUNNING'
      - 'STOPPED'

  PaperDeliveryPriorityParameterName:
    Type: String
    Description: 'parameter name for paper delivery priority details'

  TestDelayerBucketName:
    Type: String
    Description: 'Name of bucket for delayer tests automation'

  TestDelayerBucketArn:
    Type: String
    Description: 'Arn of bucket for delayer tests automation'

  TestDelayerKmsBucketArn:
    Type: String
    Description: 'Arn of kms bucket for delayer tests automation'

  TestDelayerObjectKeyBucket:
    Type: String
    Description: 'TestDelayerLambda object key of bucket'
    Default: 'example.csv'

  TestDelayerLambdaName:
    Type: String
    Description: 'TestDelayerLambda function name'

  PreRunAlgorithmLambdaName:
    Type: String
    Description: 'PreRunAlgorithmLambdaName function name'

  UnifiedDeliveryDriverProvinceParameter:
    Type: String
    Description: 'Parameter name for UnifiedDeliveryDriverProvinceParameter'

  DelayerStartWorkflowCron:
    Type: String
    Default: '0 3 ? * MON *'
    Description: 'Cron expression for DelayerStartWorkflowRule'

  DelayerToPaperChannelFirstSchedulerCron:
    Type: String
    Default: '0 5-21 ? * MON-SUN *'
    Description: 'Cron expression for DelayerToPaperChannelFirstScheduleRule'

  DelayerToPaperChannelSecondSchedulerCron:
    Type: String
    Default: '0 5-21 ? * MON-SUN *'
    Description: 'Cron expression for DelayerToPaperChannelSecondScheduleRule'

  DelayerToPaperChannelFirstSchedulerStartDate:
    Type: String
    Description: 'Start date for DelayerToPaperChannelDailyScheduleFirstRule in YYYY-MM-DDTHH:MM:SSZ (UTC) format. Has to be the next monday to the release date'

  DelayerToPaperChannelFirstSchedulerEndDate:
    Type: String
    Description: 'End date for DelayerToPaperChannelDailyScheduleFirstRule in YYYY-MM-DDTHH:MM:SSZ (UTC) format. To specify an unlimited duration we use 2099'
    Default: '2099-01-01T23:00:00.000Z'

  DelayerToPaperChannelSecondSchedulerStartDate:
    Type: String
    Description: 'Start date for DelayerToPaperChannelDailyScheduleSecondRule in YYYY-MM-DDTHH:MM:SSZ (UTC) format. Must be disabled for now, so we set 2099-01-01'
    Default: '2099-01-01T00:00:00.000Z'

  DelayerToPaperChannelSecondSchedulerEndDate:
    Type: String
    Description: 'End date for DelayerToPaperChannelDailyScheduleSecondRule in YYYY-MM-DDTHH:MM:SSZ (UTC) format. To specify an unlimited duration we use 2099'
    Default: '2099-01-01T23:00:00.000Z'

  DelayerStartWorkflowRuleState:
    Type: String
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED
    Description: 'State of the DelayerStartWorkflowRule'

  DelayerToPaperChannelDailyScheduleRuleState:
    Type: String
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED
    Description: 'State of the DelayerToPaperChannelDailyScheduleRuleState'

  ProvinceTableName:
    Type: String
    Description: 'DynamoDB table name for Province'

  ProvinceTableArn:
    Type: String
    Description: 'ARN of DynamoDB table containing Province'
  
  NotificationOrdersTableName:
    Type: String
    Description: 'DynamoDB table name for NotificationOrders'
  
  NotificationOrdersTableArn:
    Type: String
    Description: 'ARN of DynamoDB table for NotificationOrders'

  PaperChannelTenderApiLambdaName:
    Type: String
    Description: 'PaperChannelTenderApiLambda function name'
    Default: 'pn-paper-channel-TenderAPI'

  DelayerReceiverOrdersSendersLambdaName:
    Type: String
    Description: 'ReceiverOrdersSendersLambda function name'

  DelayerNotificationOrdersLambdaName:
    Type: String
    Description: 'NotificationOrdersLambda function name'

  SafeStorageCxId:
    Type: String
    Description: 'SafeStorage cx-id for pn-Delayer request'

  SandboxSafeStorageBaseUrl:
    Type: String
    Description: 'Url to the SafeStorage microservice'

  SafeStorageToDelayerReceiverOrdersSendersLambdaQueueQueueName:
    Type: String
    Description: 'queue name for safeStorage to delayer receiver orders senders lambda'

  SafeStorageToDelayerReceiverOrdersSendersLambdaQueueARN:
    Type: String
    Description: 'queue arn for safeStorage to delayer receiver orders senders lambda'

  SafeStorageToDelayerReceiverOrdersSendersLambdaQueueURL:
    Type: String
    Description: 'Events from safe storage to pn-delayer queue URL'
  
  SafeStorageToNotificationOrdersQueueName:
    Type: String
    Description: 'queue name for safeStorage to notification orders queue'

  SafeStorageToNotificationOrdersQueueARN:
    Type: String
    Description: 'queue name for safeStorage to to notification orders queue'

  SafeStorageToNotificationOrdersQueueURL:
    Type: String
    Description: 'Events from safe storage to notification orders queue URL'

  PrintCounterTtlDuration:
    Type: String
    Default: 30d
    Description: 'Ttl duration for printCapacity counter'

  PrintCounterTtlDays:
    Type: String
    Default: 30
    Description: 'Ttl days for printCapacity counter'

  StepFunctionStateMaxAttempts:
    Type: Number
    Default: 2
    Description: 'Maximum number of attempts for step function state'

  PrintCapacity:
    Type: String
    Description: daily print capacity

  ExportDelayerDataLambdaName:
    Type: String
    Description: 'ExportDelayerData function name'

  ExportDelayerDataLambdaCron:
    Type: String
    Default: '0 7 ? * 2 *'
    Description: 'Cron expression for ExportDelayerDataLambdaRule'
  
  ExportDelayerDataRuleState:
    Type: String
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED
    Description: 'State of the ExportDelayerDataRuleState'

  DataAnalysisTopicName:
    Type: String
    Description: data analysis topic to send mail on slack

  SignUrlExpiration:
    Type: Number
    Description: 'Time available for downloading the data in minutes'
    Default: 4320 #3 days
  
  NotificationOrdersTtlDays:
    Type: Number
    Description: 'TTL days for lambda notification orders'
    Default: 3650

  EnvironmentType:
    Type: String

  LightAlgorithmGlueJobName:
    Type: String
    Description: 'Light Algorithm Glue Job name'

  LightAlgorithmGlueJobParallelism:
    Type: Number
    Description: 'Light Algorithm Glue Job parallelism'
    Default: 20

  ExportDryRunDashboardDataLambdaName:
    Type: String
    Description: 'ExportDryRunDashboardData function name'

  ExportDryRunDashboardDataRuleState:
    Type: String
    Default: DISABLED
    AllowedValues:
      - ENABLED
      - DISABLED
    Description: 'State of the ExportDryRunDashboardDataRuleState'

  ExportDryRunDashboardDataLambdaCron:
    Type: String
    Default: '0 7 ? * 2 *'
    Description: 'Cron expression for ExportDryRunDashboardDataLambdaRule'

  AthenaDatabaseName:
    Type: String
    Default: 'cdc_analytics_database'
    Description: 'Name of the Athena database where delayer dry run data is stored'

  MonthsToRetrieveDataQuery:
    Type: String
    Default: '4'
    Description: 'Number of months to retrieve data for the dry run dashboard'

  MaxPaperDeliveriesForExecution:
    Type: Number
    Description: 'Max paper deliveries for execution'
    Default: 5000

  SwitchOffAlgorithmLambdaName:
    Type: String
    Description: 'SwitchOffAlgorithmLambda function name'

  EnablePaperDeliveryLambdaKinesisSource:
    Type: String
    AllowedValues: [ "true", "false" ]
    Default: "true"

Conditions:
    IsNotProdEnvironment: !Not [ !Equals [ !Ref EnvironmentType, 'prod' ] ]
    PaperDeliveryLambdaKinesisSourceEnabled: !Equals [ !Ref EnablePaperDeliveryLambdaKinesisSource, "true" ]

Resources:
  SenderLimitComputeEnvironment:
    Type: AWS::Batch::ComputeEnvironment
    Properties:
      Type: MANAGED
      ServiceRole: !Ref SenderLimitServiceRole
      ComputeEnvironmentName: !Sub '${ProjectName}-delayer-sender-limit-compute-environment'
      ComputeResources:
        MaxvCpus: !Ref MaxvCpus
        Type: !Ref ComputeResourceType
        SecurityGroupIds:
          - !Ref SenderLimitSecurityGroup
        Subnets: !Split [ ",", !Ref VpcEgressSubnetsIds ]
      State: ENABLED

  SenderLimitJobDefinition:
    Type: AWS::Batch::JobDefinition
    Properties:
      Type: container
      PropagateTags: true
      JobDefinitionName: !Sub '${ProjectName}-delayer-sender-limit-job-definition'
      RetryStrategy:
        Attempts: 3
      ContainerProperties:
        Image: !Ref ContainerImageUri
        FargatePlatformConfiguration:
          PlatformVersion: LATEST
        ResourceRequirements:
          - Value: !Ref VCPU
            Type: VCPU
          - Value: !Ref Memory
            Type: MEMORY
        JobRoleArn: !GetAtt "SenderLimitTaskExecutionRole.Arn"
        ExecutionRoleArn: !GetAtt "SenderLimitTaskExecutionRole.Arn"
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref "SenderLimitJobLogGroup"
            awslogs-region: !Ref AWS::Region
            awslogs-stream-prefix: !Sub '${ProjectName}-delayer-sender-limit-job-logs'
        Environment:
          - Name: AWS_REGIONCODE
            Value: !Ref AWS::Region
          - Name: PN_DELAYER_PAPERDELIVERYPRIORITYPARAMETERNAME
            Value: !Ref PaperDeliveryPriorityParameterName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYQUERYLIMIT
            Value: !Ref PaperDeliveryQueryLimit
          - Name: PN_DELAYER_DAO_PAPERDELIVERYCOUNTERTABLENAME
            Value: !Ref PaperDeliveryCounterTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYSENDERLIMITTABLENAME
            Value: !Ref PaperDeliverySenderLimitTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYUSEDSENDERLIMITTABLENAME
            Value: !Ref PaperDeliveryUsedSenderLimitTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERCAPACITIESTABLENAME
            Value: !Ref PaperDeliveryDriverCapacitiesTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYTABLENAME
            Value: !Ref PaperDeliveryTableName
          - Name: PN_DELAYER_EVALUATESENDERLIMITJOBINPUT_PROVINCE
            Value: !Ref JobInputProvince
          - Name: PN_DELAYER_ACTUALTENDERID
            Value: !Ref ActualTenderId
          - Name: PN_DELAYER_WORKFLOWSTEP
            Value: !Ref WorkflowStep
          - Name: PN_DELAYER_PAPERCHANNELTENDERAPILAMBDAARN
            Value: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PaperChannelTenderApiLambdaName}
          - Name: PN_DELAYER_DELIVERYDATEDAYOFWEEK
            Value: !Ref DeliveryDateDayOfWeek
          - Name: PN_DELAYER_PRINTCAPACITY
            Value: !Ref PrintCapacity
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON
            Value: !Ref DelayerToPaperChannelFirstSchedulerCron
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON
            Value: !Ref DelayerToPaperChannelSecondSchedulerCron
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE
            Value: !Ref DelayerToPaperChannelFirstSchedulerStartDate
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE
            Value: !Ref DelayerToPaperChannelSecondSchedulerStartDate

      PlatformCapabilities:
        - FARGATE
      Tags:
        Service: Batch
        Name: JobDefinitionTag
        Expected: MergeTag

  SenderLimitJobQueue:
    Type: AWS::Batch::JobQueue
    Properties:
      ComputeEnvironmentOrder:
        - Order: 1
          ComputeEnvironment: !Ref SenderLimitComputeEnvironment
      State: ENABLED
      Priority: 1
      JobQueueName: pn-delayer-sender-limit-job-queue

  SenderLimitServiceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: batch.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSBatchServiceRole

  SenderLimitTaskExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-delayer-sender-limit-taskexec-role'
      AssumeRolePolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
      Path: /
      Policies:
        - PolicyName: AmazonECSTaskExecutionRolePolicy
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action:
                  - "ecr:GetAuthorizationToken"
                  - "ecr:BatchCheckLayerAvailability"
                  - "ecr:GetDownloadUrlForLayer"
                  - "ecr:BatchGetImage"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "*"
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:BatchGetItem
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:BatchWriteItem
                Resource:
                  - !Sub "${PaperDeliveryCounterTableArn}"
                  - !Sub "${PaperDeliveryCounterTableArn}/*"
                  - !Sub "${PaperDeliverySenderLimitTableArn}"
                  - !Sub "${PaperDeliverySenderLimitTableArn}/*"
                  - !Sub "${PaperDeliveryUsedSenderLimitTableArn}"
                  - !Sub "${PaperDeliveryUsedSenderLimitTableArn}/*"
                  - !Sub "${PaperDeliveryDriverCapacitiesTableArn}"
                  - !Sub "${PaperDeliveryDriverCapacitiesTableArn}/*"
                  - !Sub "${PaperDeliveryTableArn}"
                  - !Sub "${PaperDeliveryTableArn}/*"
                  - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}"
                  - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}/*"
                  - !Sub "${PaperDeliveryCounterMockTableArn}"
                  - !Sub "${PaperDeliveryCounterMockTableArn}/*"
                  - !Sub "${PaperDeliveryMockTableArn}"
                  - !Sub "${PaperDeliveryMockTableArn}/*"
                  - !Sub "${PaperDeliveryUsedSenderLimitMockTableArn}"
                  - !Sub "${PaperDeliveryUsedSenderLimitMockTableArn}/*"
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PaperChannelTenderApiLambdaName}
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource:
                  - !Sub arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter${PaperDeliveryPriorityParameterName}


  SenderLimitSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Batch Security Group
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: -1
          CidrIp: !Ref VpcCidr
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: "0.0.0.0/0"

  ResidualCapacityComputeEnvironment:
    Type: AWS::Batch::ComputeEnvironment
    Properties:
      Type: MANAGED
      ServiceRole: !Ref ResidualCapacityServiceRole
      ComputeEnvironmentName: !Sub '${ProjectName}-delayer-residual-capacity-compute-environment'
      ComputeResources:
        MaxvCpus: !Ref MaxvCpus
        Type: !Ref ComputeResourceType
        SecurityGroupIds:
          - !Ref ResidualCapacitySecurityGroup
        Subnets: !Split [ ",", !Ref VpcEgressSubnetsIds ]
      State: ENABLED

  ResidualCapacityJobDefinition:
    Type: AWS::Batch::JobDefinition
    Properties:
      Type: container
      PropagateTags: true
      JobDefinitionName: !Sub '${ProjectName}-delayer-residual-capacity-job-definition'
      RetryStrategy:
        Attempts: 3
      ContainerProperties:
        Image: !Ref ContainerImageUri
        FargatePlatformConfiguration:
          PlatformVersion: LATEST
        ResourceRequirements:
          - Value: !Ref VCPU
            Type: VCPU
          - Value: !Ref Memory
            Type: MEMORY
        JobRoleArn: !GetAtt "ResidualCapacityTaskExecutionRole.Arn"
        ExecutionRoleArn: !GetAtt "ResidualCapacityTaskExecutionRole.Arn"
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref "ResidualCapacityJobLogGroup"
            awslogs-region: !Ref AWS::Region
            awslogs-stream-prefix: !Sub '${ProjectName}-delayer-residual-capacity-logs'
        Environment:
          - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERCAPACITIESTABLENAME
            Value: !Ref PaperDeliveryDriverCapacitiesTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERUSEDCAPACITIESTABLENAME
            Value: !Ref PaperDeliveryDriverUsedCapacitiesTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYTABLENAME
            Value: !Ref PaperDeliveryTableName
          - Name: PN_DELAYER_DELIVERYDATEDAYOFWEEK
            Value: !Ref DeliveryDateDayOfWeek
          - Name: AWS_REGIONCODE
            Value: !Ref AWS::Region
          - Name: PN_DELAYER_EVALUATERESIDUALCAPACITYJOBINPUT_UNIFIEDDELIVERYDRIVER
            Value: !Ref JobInputUnifiedDeliveryDriver
          - Name: PN_DELAYER_EVALUATERESIDUALCAPACITYJOBINPUT_PROVINCELIST
            Value: !Ref JobInputProvinceList
          - Name: PN_DELAYER_ACTUALTENDERID
            Value: !Ref ActualTenderId
          - Name: PN_DELAYER_WORKFLOWSTEP
            Value: !Ref WorkflowStep
          - Name: PN_DELAYER_PRINTCAPACITYWEEKLYWORKINGDAYS
            Value: !Ref PrintCapacityWeeklyWorkingDays
          - Name: PN_DELAYER_PRINTCOUNTERTTLDURATION
            Value: !Ref PrintCounterTtlDuration
          - Name: PN_DELAYER_DAO_PAPERDELIVERYQUERYLIMIT
            Value: !Ref PaperDeliveryQueryLimit
          - Name: PN_DELAYER_DAO_PAPERDELIVERYCOUNTERTABLENAME
            Value: !Ref PaperDeliveryCounterTableName
          - Name: PN_DELAYER_PRINTCAPACITY
            Value: !Ref PrintCapacity
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON
            Value: !Ref DelayerToPaperChannelFirstSchedulerCron
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON
            Value: !Ref DelayerToPaperChannelSecondSchedulerCron
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE
            Value: !Ref DelayerToPaperChannelFirstSchedulerStartDate
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE
            Value: !Ref DelayerToPaperChannelSecondSchedulerStartDate

      PlatformCapabilities:
        - FARGATE
      Tags:
        Service: Batch
        Name: JobDefinitionTag
        Expected: MergeTag

  ResidualCapacityJobQueue:
    Type: AWS::Batch::JobQueue
    Properties:
      ComputeEnvironmentOrder:
        - Order: 1
          ComputeEnvironment: !Ref ResidualCapacityComputeEnvironment
      State: ENABLED
      Priority: 1
      JobQueueName: pn-delayer-residual-capacity-job-queue

  ResidualCapacityServiceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: batch.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSBatchServiceRole

  ResidualCapacityTaskExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-delayer-residual-capacity-taskexec-role'
      AssumeRolePolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
      Path: /
      Policies:
        - PolicyName: AmazonECSTaskExecutionRolePolicy
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action:
                  - "ecr:GetAuthorizationToken"
                  - "ecr:BatchCheckLayerAvailability"
                  - "ecr:GetDownloadUrlForLayer"
                  - "ecr:BatchGetImage"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "*"
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:BatchGetItem
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:BatchWriteItem
                Resource:
                  - !Sub "${PaperDeliveryDriverCapacitiesTableArn}"
                  - !Sub "${PaperDeliveryDriverCapacitiesTableArn}/*"
                  - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}"
                  - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}/*"
                  - !Sub "${PaperDeliveryTableArn}"
                  - !Sub "${PaperDeliveryTableArn}/*"
                  - !Sub "${PaperDeliveryCounterTableArn}"
                  - !Sub "${PaperDeliveryCounterTableArn}/*"
                  - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}"
                  - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}/*"
                  - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}"
                  - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}/*"
                  - !Sub "${PaperDeliveryMockTableArn}"
                  - !Sub "${PaperDeliveryMockTableArn}/*"
                  - !Sub "${PaperDeliveryCounterMockTableArn}"
                  - !Sub "${PaperDeliveryCounterMockTableArn}/*"

  ResidualCapacitySecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Batch Security Group
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: -1
          CidrIp: !Ref VpcCidr
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: "0.0.0.0/0"

  DriverCapacityComputeEnvironment:
    Type: AWS::Batch::ComputeEnvironment
    Properties:
      Type: MANAGED
      ServiceRole: !Ref DriverCapacityServiceRole
      ComputeEnvironmentName: !Sub '${ProjectName}-delayer-driver-capacity-compute-environment'
      ComputeResources:
        MaxvCpus: !Ref MaxvCpus
        Type: !Ref ComputeResourceType
        SecurityGroupIds:
          - !Ref DriverCapacitySecurityGroup
        Subnets: !Split [",", !Ref VpcEgressSubnetsIds]
      State: ENABLED

  DriverCapacityJobDefinition:
    Type: AWS::Batch::JobDefinition
    Properties:
      Type: container
      PropagateTags: true
      JobDefinitionName: !Sub '${ProjectName}-delayer-driver-capacity-job-definition'
      RetryStrategy:
        Attempts: 3
      ContainerProperties:
        Image: !Ref ContainerImageUri
        FargatePlatformConfiguration:
          PlatformVersion: LATEST
        ResourceRequirements:
          - Value: !Ref VCPU
            Type: VCPU
          - Value: !Ref Memory
            Type: MEMORY
        JobRoleArn: !GetAtt "DriverCapacityTaskExecutionRole.Arn"
        ExecutionRoleArn: !GetAtt "DriverCapacityTaskExecutionRole.Arn"
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref "DriverCapacityJobLogGroup"
            awslogs-region: !Ref AWS::Region
            awslogs-stream-prefix: !Sub '${ProjectName}-delayer-driver-capacity-logs'
        Environment:
          - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERCAPACITIESTABLENAME
            Value: !Ref PaperDeliveryDriverCapacitiesTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERUSEDCAPACITIESTABLENAME
            Value: !Ref PaperDeliveryDriverUsedCapacitiesTableName
          - Name: PN_DELAYER_DAO_PAPERDELIVERYTABLENAME
            Value: !Ref PaperDeliveryTableName
          - Name: PN_DELAYER_DELIVERYDATEDAYOFWEEK
            Value: !Ref DeliveryDateDayOfWeek
          - Name: AWS_REGIONCODE
            Value: !Ref AWS::Region
          - Name: PN_DELAYER_EVALUATEDRIVERCAPACITYJOBINPUT_UNIFIEDDELIVERYDRIVER
            Value: !Ref JobInputUnifiedDeliveryDriver
          - Name: PN_DELAYER_EVALUATEDRIVERCAPACITYJOBINPUT_PROVINCELIST
            Value: !Ref JobInputProvinceList
          - Name: PN_DELAYER_ACTUALTENDERID
            Value: !Ref ActualTenderId
          - Name: PN_DELAYER_WORKFLOWSTEP
            Value: !Ref WorkflowStep
          - Name: PN_DELAYER_PRINTCAPACITYWEEKLYWORKINGDAYS
            Value: !Ref PrintCapacityWeeklyWorkingDays
          - Name: PN_DELAYER_PRINTCOUNTERTTLDURATION
            Value: !Ref PrintCounterTtlDuration
          - Name: PN_DELAYER_DAO_PAPERDELIVERYQUERYLIMIT
            Value: !Ref PaperDeliveryQueryLimit
          - Name: PN_DELAYER_DAO_PAPERDELIVERYCOUNTERTABLENAME
            Value: !Ref PaperDeliveryCounterTableName
          - Name: PN_DELAYER_PRINTCAPACITY
            Value: !Ref PrintCapacity
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON
            Value: !Ref DelayerToPaperChannelFirstSchedulerCron
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON
            Value: !Ref DelayerToPaperChannelSecondSchedulerCron
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE
            Value: !Ref DelayerToPaperChannelFirstSchedulerStartDate
          - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE
            Value: !Ref DelayerToPaperChannelSecondSchedulerStartDate

      PlatformCapabilities:
        - FARGATE
      Tags:
        Service: Batch
        Name: JobDefinitionTag
        Expected: MergeTag

  ## JobQueue
  DriverCapacityJobQueue:
    Type: AWS::Batch::JobQueue
    Properties:
      ComputeEnvironmentOrder:
        - Order: 1
          ComputeEnvironment: !Ref DriverCapacityComputeEnvironment
      State: ENABLED
      Priority: 1
      JobQueueName: !Sub '${ProjectName}-delayer-driver-capacity-job-queue'

  DriverCapacityServiceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: batch.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSBatchServiceRole

  DriverCapacityTaskExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-delayer-driver-capacity-job-taskexec-role'
      AssumeRolePolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
      Path: /
      Policies:
        - PolicyName: AmazonECSTaskExecutionRolePolicy
          PolicyDocument:
            Statement:
            - Effect: Allow
              Action:
                - "ecr:GetAuthorizationToken"
                - "ecr:BatchCheckLayerAvailability"
                - "ecr:GetDownloadUrlForLayer"
                - "ecr:BatchGetImage"
                - "logs:CreateLogStream"
                - "logs:PutLogEvents"
              Resource: "*"
            - Effect: Allow
              Action:
                - dynamodb:Query
                - dynamodb:BatchGetItem
                - dynamodb:GetItem
                - dynamodb:PutItem
                - dynamodb:UpdateItem
                - dynamodb:BatchWriteItem
              Resource:
                - !Sub "${PaperDeliveryDriverCapacitiesTableArn}"
                - !Sub "${PaperDeliveryDriverCapacitiesTableArn}/*"
                - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}"
                - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}/*"
                - !Sub "${PaperDeliveryTableArn}"
                - !Sub "${PaperDeliveryTableArn}/*"
                - !Sub "${PaperDeliveryCounterTableArn}"
                - !Sub "${PaperDeliveryCounterTableArn}/*"
                - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}"
                - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}/*"
                - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}"
                - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}/*"
                - !Sub "${PaperDeliveryMockTableArn}"
                - !Sub "${PaperDeliveryMockTableArn}/*"
                - !Sub "${PaperDeliveryCounterMockTableArn}"
                - !Sub "${PaperDeliveryCounterMockTableArn}/*"

  DriverCapacitySecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Batch Security Group
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: -1
          CidrIp: !Ref VpcCidr
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: "0.0.0.0/0"

  DelayerMicroserviceCloudWatchDashboard:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/microservice-cloudwatch-dashboard.yaml"
      Parameters:
        DashboardName: !Sub "${ProjectName}-delayer"
        DynamoDBTableNames: !Join
          - ','
          - - !Ref PaperDeliveryDriverCapacitiesTableName
            - !Ref PaperDeliveryDriverUsedCapacitiesTableName
            - !Ref PaperDeliveryTableName
            - !Ref PaperDeliveryCounterTableName
            - !Ref PaperDeliverySenderLimitTableName
            - !Ref PaperDeliveryUsedSenderLimitTableName
        LogGroupsNames: !Join
          - ','
          - - !Sub '/aws/ecs/${ProjectName}-delayer-sender-limit-job'
            - !Sub '/aws/ecs/${ProjectName}-delayer-residual-capacity-job'
            - !Sub '/aws/ecs/${ProjectName}-delayer-driver-capacity-job'

  PnDelayerAlarmTopicPublisherRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-delayer-alarm-topic-publisher-role'
      AssumeRolePolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
      Path: /
      Policies:
        - PolicyName: !Sub '${ProjectName}-delayer-alarm-topic-publisher-policy'
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action:
                  - "sns:Publish"
                Resource: !Ref AlarmSNSTopicArn

  ### Enable sending notifications to SNS topic when the step functions are in failed, aborted or timedOut status.
  BatchBridgeStateRule:
   Type: AWS::Events::Rule
   Properties:
     Description: The EventBridge rule to match Step function execution state change
     RoleArn: !GetAtt PnDelayerAlarmTopicPublisherRole.Arn
     EventPattern:
       source:
         - aws.states
       detail-type:
         - Step Functions Execution Status Change
       detail:
         status:
           - FAILED
           - TIMED_OUT
           - ABORTED
         stateMachineArn:
           - !Ref PaperDeliveryStateMachine
           - !Ref DelayerToPaperChannelStateMachine
     State: ENABLED
     Targets:
       - Arn: !Ref AlarmSNSTopicArn
         Id: !Sub "${ProjectName}-delayer"

  # Create alarm
  FailedInvocationMetricAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "${ProjectName}-delayer-FailedInvocation-Alarm"
      AlarmDescription: "CloudWatch alarm for when pn-delayer step function executions fails."
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref AlarmSNSTopicArn
      OKActions:
        - !Ref AlarmSNSTopicArn
      Dimensions:
        - Name: RuleName
          Value: !Ref BatchBridgeStateRule
      DatapointsToAlarm: 1
      MetricName: "Invocations"
      Namespace: "AWS/Events"
      ComparisonOperator: GreaterThanOrEqualToThreshold
      EvaluationPeriods: 12 # 1 hour
      Period: 300 # 5 minutes
      Statistic: Sum
      Threshold: 1

  SenderLimitJobErrorFatalLogsMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref SenderLimitJobLogGroup
      FilterPattern: '?ERROR ?FATAL ?CRITICAL'
      MetricTransformations:
        - MetricValue: 1
          MetricNamespace: "ErrorFatalLogs"
          MetricName: !Sub "${ProjectName}-delayer-sender-limit-job-ErrorFatalMetric"

  SenderLimitErrorFatalLogsMetricAlarm:
    Type: AWS::CloudWatch::Alarm
    DependsOn: SenderLimitJobErrorFatalLogsMetricFilter
    Properties:
      AlarmName: !Sub "${ProjectName}-delayer-sender-limit-job-ErrorFatalLogs-Alarm"
      AlarmDescription: "CloudWatch alarm for when LogSaver LogGroup has ERROR or FATAL line."
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref AlarmSNSTopicArn
      OKActions:
        - !Ref AlarmSNSTopicArn
      DatapointsToAlarm: 1
      MetricName: !Sub "${ProjectName}-delayer-sender-limit-job-ErrorFatalMetric"
      Namespace: "ErrorFatalLogs"
      ComparisonOperator: GreaterThanOrEqualToThreshold
      EvaluationPeriods: 60
      Period: 60
      Statistic: Sum
      Threshold: 1

  ResidualCapacityJobErrorFatalLogsMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref ResidualCapacityJobLogGroup
      FilterPattern: '?ERROR ?FATAL ?CRITICAL'
      MetricTransformations:
        - MetricValue: 1
          MetricNamespace: "ErrorFatalLogs"
          MetricName: !Sub "${ProjectName}-delayer-residual-capacity-job-ErrorFatalMetric"

  ResidualCapacityJobErrorFatalLogsMetricAlarm:
    Type: AWS::CloudWatch::Alarm
    DependsOn: ResidualCapacityJobErrorFatalLogsMetricFilter
    Properties:
      AlarmName: !Sub "${ProjectName}-delayer-residual-capacity-ErrorFatalLogs-Alarm"
      AlarmDescription: "CloudWatch alarm for when LogSaver LogGroup has ERROR or FATAL line."
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref AlarmSNSTopicArn
      OKActions:
        - !Ref AlarmSNSTopicArn
      DatapointsToAlarm: 1
      MetricName: !Sub "${ProjectName}-delayer-residual-capacity-job-ErrorFatalMetric"
      Namespace: "ErrorFatalLogs"
      ComparisonOperator: GreaterThanOrEqualToThreshold
      EvaluationPeriods: 60
      Period: 60
      Statistic: Sum
      Threshold: 1

  DriverCapacityErrorFatalLogsMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref DriverCapacityJobLogGroup
      FilterPattern: '?ERROR ?FATAL ?CRITICAL'
      MetricTransformations:
        - MetricValue: 1
          MetricNamespace: "ErrorFatalLogs"
          MetricName: !Sub "${ProjectName}-delayer-ErrorFatalMetric"

  DriverCapacityErrorFatalLogsMetricAlarm:
    Type: AWS::CloudWatch::Alarm
    DependsOn: DriverCapacityErrorFatalLogsMetricFilter
    Properties:
      AlarmName: !Sub "${ProjectName}-delayer-driver-capacity-job-ErrorFatalLogs-Alarm"
      AlarmDescription: "CloudWatch alarm for when LogSaver LogGroup has ERROR or FATAL line."
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref AlarmSNSTopicArn
      OKActions:
        - !Ref AlarmSNSTopicArn
      DatapointsToAlarm: 1
      MetricName: !Sub "${ProjectName}-delayer-driver-capacity-job-ErrorFatalMetric"
      Namespace: "ErrorFatalLogs"
      ComparisonOperator: GreaterThanOrEqualToThreshold
      EvaluationPeriods: 60
      Period: 60
      Statistic: Sum
      Threshold: 1

  PnCoreEventBusToDelayerInputsKinesis:
    Type: AWS::Events::Rule
    Properties:
      Description: Route Events from pn-core-event-bus to kinesis
      RoleArn: !GetAtt "DelayerInputsRole.Arn"
      EventBusName: !Sub '${ProjectName}-CoreEventBus'
      EventPattern:
        detail-type: [ "PreparePhaseOneOutcomeEvent" ]
      Targets:
        - Arn: !Ref PnDelayerInputsKinesisDataStreamArn
          Id: !Sub ${ProjectName}-DelayerInputsKinesisDataStream
          DeadLetterConfig:
            Arn: !Sub arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:pn-CoreEventBus-DLQ

  # Send Safe Storage Response to delayerReceiverOrdersSendersLambda
  PnCoreEventBusToDelayerOrdersSendersSafeStorageResponseQueue:
    Type: AWS::Events::Rule
    Properties:
      Description: Route SafeStorage Events to pn-delayerReceiverOrdersSendersLambda
      RoleArn: !GetAtt "DelayerOrdersSendersEventBusEnqueueRole.Arn"
      EventBusName: !Sub '${ProjectName}-CoreEventBus'
      EventPattern:
        detail-type: [ "SafeStorageOutcomeEvent" ]
        detail:
          documentType: [ 'PN_SERVICE_ORDER' ]
      Targets:
        - Arn: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:PnCoreEventBusMatchedEventLogger
          Id: !Sub ${ProjectName}-Logger-SafeStore2DelayerOrdersSenders
          InputTransformer:
            InputPathsMap:
              "timestamp": "$.time"
            InputTemplate: |
              {
                  "timestamp": <timestamp>,
                  "ruleArn": <aws.events.rule-arn>,
                  "ruleName": <aws.events.rule-name>,
                  "ingestionTime": <aws.events.event.ingestion-time>,
                  "originalEvent": <aws.events.event.json>
              }
        - Id: !Sub '${ProjectName}-SafeStore2DelayerSendersOrders'
          Arn: !Ref SafeStorageToDelayerReceiverOrdersSendersLambdaQueueARN
          InputPath: $.detail
          DeadLetterConfig:
            Arn: !Sub arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:pn-CoreEventBus-DLQ
        - Id: !Sub '${ProjectName}-SafeStore2NotificationOrders'
          Arn: !Ref SafeStorageToNotificationOrdersQueueARN
          InputPath: $.detail
          DeadLetterConfig:
            Arn: !Sub arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:pn-CoreEventBus-DLQ

  DelayerOrdersSendersEventBusEnqueueRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
        Version: "2012-10-17"
      Policies:
        - PolicyName: !Sub ${ProjectName}-delayer-orders-senders-eventBusRuleQueuePolicy
          PolicyDocument:
            Statement:
              - Sid: putEvents
                Action:
                  - sqs:ChangeMessageVisibility
                  - sqs:GetQueueAttributes
                  - sqs:GetQueueUrl
                  - sqs:SendMessage
                Effect: Allow
                Resource:
                  - !Ref SafeStorageToDelayerReceiverOrdersSendersLambdaQueueARN

  DelayerInputsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
        Version: "2012-10-17"
      Policies:
        - PolicyName: !Sub ${ProjectName}-DelayerInputs-eventBusRolePolicy
          PolicyDocument:
            Statement:
              - Sid: KMSAllowList
                Action:
                  - kms:Decrypt
                  - kms:Encrypt
                  - kms:GenerateDataKey
                Effect: Allow
                Resource:
                  - !Ref PnDelayerInputsKinesisDataStreamKMSArn
              - Sid: putEventsToKinesis
                Effect: Allow
                Action:
                  - kinesis:PutRecords
                  - kinesis:PutRecord
                Resource:
                  - !Ref PnDelayerInputsKinesisDataStreamArn

  #########################################################
  ###         KinesisPaperDeliveryLambda                ###
  #########################################################

  KinesisPaperDeliveryLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${KinesisPaperDeliveryLambdaName}-sec-group'
      VpcId: !Ref VpcId

#   Lambda function
  KinesisPaperDeliveryLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref KinesisPaperDeliveryLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/kinesisPaperDeliveryLambda.zip"
      Role: !GetAtt KinesisPaperDeliveryLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
          KINESIS_PAPERDELIVERY_TABLE: !Ref PaperDeliveryTableName
          KINESIS_PAPERDELIVERY_EVENTTABLE: !Ref PaperDeliveryKinesisEventTableName
          KINESIS_PAPERDELIVERY_COUNTERTABLE: !Ref PaperDeliveryCounterTableName
          KINESIS_BATCHSIZE: !Ref KinesisPaperDeliveryLambdaBatchSize
          KINESIS_EVENTSRECORDTTLSECONDS: !Ref PaperDeliveryKinesisRecordsTtlSeconds
          KINESIS_PAPERDELIVERY_COUNTERTTLDAYS: !Ref PaperDeliveryCounterTtlDays
          KINESIS_PAPERDELIVERY_DELIVERYDATEDAYOFWEEK: !Ref DeliveryDateDayOfWeek
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 15

#   Lambda function role
  KinesisPaperDeliveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-kinesisPaperDeliveryLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

#   Lambda function IAM policy
  KinesisPaperDeliveryLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-kinesisPaperDeliveryLambdaPolicy
      Roles:
        - !Ref KinesisPaperDeliveryLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - kinesis:DescribeStream
              - kinesis:DescribeStreamSummary
              - kinesis:GetShardIterator
              - kinesis:GetRecords
              - kinesis:ListShards
              - kinesis:ListStreams
              - kinesis:SubscribeToShard
            Resource: !Ref PnDelayerInputsKinesisDataStreamArn
          - Effect: Allow
            Action: kms:Decrypt
            Resource: !Ref PnDelayerInputsKinesisDataStreamKMSArn
          - Effect: Allow
            Action: dynamodb:BatchWriteItem
            Resource:
              - !Ref PaperDeliveryTableArn
          - Effect: Allow
            Action: dynamodb:UpdateItem
            Resource:
              - !Ref PaperDeliveryCounterTableArn
          - Effect: Allow
            Action:
              - sqs:ChangeMessageVisibility
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
              - sqs:SendMessage
            Resource:
              !Ref KinesisPaperDeliveryLambdaDLQARN
          - Effect: Allow
            Action:
              - dynamodb:BatchGetItem
              - dynamodb:BatchWriteItem
            Resource: !Ref PaperDeliveryKinesisEventTableArn


  PaperDeliveryLambdaKinesisSource:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      Enabled: !If [ PaperDeliveryLambdaKinesisSourceEnabled , true, false]
      BatchSize: !Sub ${KinesisPaperDeliveryLambdaBatchSize}
      BisectBatchOnFunctionError: true
      EventSourceArn: !Ref PnDelayerInputsKinesisDataStreamArn
      FunctionName: !Ref KinesisPaperDeliveryLambda
      FunctionResponseTypes:
        - ReportBatchItemFailures
      MaximumBatchingWindowInSeconds: !Sub ${KinesisPaperDeliveryLambdaMaxBatchWindowInSeconds}
      MaximumRetryAttempts: !Ref KinesisPaperDeliveryLambdaMaxRetry
      StartingPosition: TRIM_HORIZON
      DestinationConfig:
        OnFailure:
          Destination: !Ref KinesisPaperDeliveryLambdaDLQARN

  KinesisPaperDeliveryLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref KinesisPaperDeliveryLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn


  #########################################################
  ###         DelayerToPaperChannelLambda                ###
  #########################################################

  DelayerToPaperChannelLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${DelayerToPaperChannelLambdaName}-sec-group'
      VpcId: !Ref VpcId

  # Lambda function
  DelayerToPaperChannelLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref DelayerToPaperChannelLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/delayerToPaperChannelLambda.zip"
      Role: !GetAtt DelayerToPaperChannelLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
          PAPER_DELIVERY_QUERYLIMIT: !Ref PaperDeliveryQueryLimit
          PN_DELAYER_DELIVERYDATEDAYOFWEEK: !Ref DeliveryDateDayOfWeek
          PN_MAXPAPERDELIVERIESFOREXECUTION: !Ref MaxPaperDeliveriesForExecution
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 900

  # Lambda function role
  DelayerToPaperChannelLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-DelayerToPaperChannelLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Lambda function IAM policy
  DelayerToPaperChannelLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-DelayerToPaperChannelLambdaPolicy
      Roles:
        - !Ref DelayerToPaperChannelLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:Query
              - dynamodb:BatchWriteItem
              - dynamodb:DeleteItem
            Resource:
              - !Ref PaperDeliveryTableArn
          - Effect: Allow
            Action:
              - sqs:SendMessage
            Resource: !Ref  DelayerToPaperChannelQueueARN

  DelayerToPaperChannelLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref DelayerToPaperChannelLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  #########################################################
  ###         DelayerNotificationOrdersLambda          ###
  #########################################################

  DelayerNotificationOrdersLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${DelayerNotificationOrdersLambdaName}-sec-group'
      VpcId: !Ref VpcId

  # Lambda function
  DelayerNotificationOrdersLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref DelayerNotificationOrdersLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/delayerNotificationOrdersLambda.zip"
      Role: !GetAtt DelayerNotificationOrdersLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
          PN_SAFESTORAGE_URL: !Ref SandboxSafeStorageBaseUrl
          PN_SAFESTORAGE_CXID: !Ref SafeStorageCxId
          NOTIFICATION_ORDERS_TABLENAME: !Ref NotificationOrdersTableName
          TTL_DAYS: !Ref NotificationOrdersTtlDays
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 300 #5 min
      VpcConfig:
        SubnetIds: !Split [ ",", !Ref SubnetsIds ]
        SecurityGroupIds:
          - !GetAtt DelayerNotificationOrdersLambdaSecGroup.GroupId

  # Lambda function role
  DelayerNotificationOrdersLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-DelayerNotificationOrdersLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole

  # Lambda function IAM policy
  DelayerNotificationOrdersLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-DelayerNotificationOrdersLambdaPolicy
      Roles:
        - !Ref DelayerNotificationOrdersLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:BatchWriteItem
            Resource:
              - !Ref NotificationOrdersTableArn
          - Effect: Allow
            Action:
              - sqs:ChangeMessageVisibility
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
              - sqs:ReceiveMessage
            Resource:
              - !Ref SafeStorageToNotificationOrdersQueueARN

  DelayerNotificationOrdersLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref DelayerNotificationOrdersLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  DelayerNotificationOrdersLambdaSQSSource:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: 1
      EventSourceArn: !Ref SafeStorageToNotificationOrdersQueueARN
      FunctionName: !Ref DelayerNotificationOrdersLambda
      Enabled: true
      MaximumBatchingWindowInSeconds: 0


  #########################################################
  ###         DelayerReceiverOrdersSendersLambda          ###
  #########################################################

  DelayerReceiverOrdersSendersLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${DelayerReceiverOrdersSendersLambdaName}-sec-group'
      VpcId: !Ref VpcId

  # Lambda function
  DelayerReceiverOrdersSendersLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref DelayerReceiverOrdersSendersLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/delayerReceiverOrdersSendersLambda.zip"
      Role: !GetAtt DelayerReceiverOrdersSendersLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
          PN_SAFESTORAGE_URL: !Ref SandboxSafeStorageBaseUrl
          PN_SAFESTORAGE_CXID: !Ref SafeStorageCxId
          PAPER_CHANNEL_PROVINCE_TABLENAME: !Ref ProvinceTableName
          PAPER_DELIVERY_SENDER_LIMIT_TABLENAME: !Ref PaperDeliverySenderLimitTableName
          PAPER_DELIVERY_COUNTERS_TABLENAME: !Ref PaperDeliveryCounterTableName
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 300 #5 min
      VpcConfig:
        SubnetIds: !Split [ ",", !Ref SubnetsIds ]
        SecurityGroupIds:
          - !GetAtt DelayerReceiverOrdersSendersLambdaSecGroup.GroupId

  # Lambda function role
  DelayerReceiverOrdersSendersLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-DelayerReceiverOrdersSendersLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
          - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole

  # Lambda function IAM policy
  DelayerReceiverOrdersSendersLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-DelayerReceiverOrdersSendersLambdaPolicy
      Roles:
        - !Ref DelayerReceiverOrdersSendersLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:Query
              - dynamodb:BatchWriteItem
              - dynamodb:UpdateItem
            Resource:
              - !Sub "${ProvinceTableArn}"
              - !Sub "${ProvinceTableArn}/*"
              - !Sub "${PaperDeliverySenderLimitTableArn}"
              - !Sub "${PaperDeliverySenderLimitTableArn}/*"
              - !Sub "${PaperDeliveryCounterTableArn}"
              - !Sub "${PaperDeliveryCounterTableArn}/*"
          - Effect: Allow
            Action:
              - sqs:ChangeMessageVisibility
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
              - sqs:ReceiveMessage
            Resource:
              - !Ref SafeStorageToDelayerReceiverOrdersSendersLambdaQueueARN
              - !Ref SafeStorageToNotificationOrdersQueueARN

  DelayerReceiverOrdersSendersLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref DelayerReceiverOrdersSendersLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  DelayerReceiverOrdersSendersLambdaSQSSource:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: 1
      EventSourceArn: !Ref SafeStorageToDelayerReceiverOrdersSendersLambdaQueueARN
      FunctionName: !Ref DelayerReceiverOrdersSendersLambda
      Enabled: true
      MaximumBatchingWindowInSeconds: 0

  #########################################################
  ###         TestDelayerLambda                ###
  #########################################################

  TestDelayerLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${TestDelayerLambdaName}-sec-group'
      VpcId: !Ref VpcId

  # Lambda function
  TestDelayerLambda:
    Type: AWS::Lambda::Function
    Properties:
      MemorySize: 512
      FunctionName: !Ref TestDelayerLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/testDelayerLambda.zip"
      Role: !GetAtt TestDelayerLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
          BUCKET_NAME: !Ref TestDelayerBucketName
          OBJECT_KEY: !Ref TestDelayerObjectKeyBucket
          SFN_ARN: !Ref PaperDeliveryStateMachine
          DELAYERTOPAPERCHANNEL_SFN_ARN: !Ref DelayerToPaperChannelStateMachine
          DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON: !Ref DelayerToPaperChannelFirstSchedulerCron
          DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON: !Ref DelayerToPaperChannelSecondSchedulerCron
          DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE: !Ref DelayerToPaperChannelFirstSchedulerStartDate
          DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE: !Ref DelayerToPaperChannelSecondSchedulerStartDate
          PAPER_DELIVERY_QUERYLIMIT: !Ref PaperDeliveryQueryLimit
          PAPERCHANNELTENDERAPI_LAMBDA_ARN: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PaperChannelTenderApiLambdaName}
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 900 #15 min

  # Lambda function role
  TestDelayerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-testDelayerLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Lambda function IAM policy
  TestDelayerLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-testDelayerLambdaPolicy
      Roles:
        - !Ref TestDelayerLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:BatchWriteItem
            Resource:
              - !Sub "${PaperDeliveryMockTableArn}"
              - !Sub "${PaperDeliveryMockTableArn}/*"
              - !Sub "${PaperDeliveryCounterMockTableArn}"
              - !Sub "${PaperDeliveryCounterMockTableArn}/*"
              - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}"
              - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}/*"
              - !Sub "${PaperDeliveryUsedSenderLimitMockTableArn}"
              - !Sub "${PaperDeliveryUsedSenderLimitMockTableArn}/*"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}/*"
          - Effect: Allow
            Action:
              - dynamodb:Query
              - dynamodb:GetItem
            Resource:
              - !Sub "${PaperDeliveryTableArn}"
              - !Sub "${PaperDeliveryTableArn}/*"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}/*"
              - !Sub "${PaperDeliveryCounterTableArn}"
              - !Sub "${PaperDeliveryCounterTableArn}/*"
              - !Sub "${PaperDeliveryUsedSenderLimitTableArn}"
              - !Sub "${PaperDeliveryUsedSenderLimitTableArn}/*"
              - !Sub "${PaperDeliverySenderLimitTableArn}"
              - !Sub "${PaperDeliverySenderLimitTableArn}/*"
              - !Sub "${PaperDeliveryDriverCapacitiesTableArn}"
              - !Sub "${PaperDeliveryDriverCapacitiesTableArn}/*"
              - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}"
              - !Sub "${PaperDeliveryDriverCapacitiesMockTableArn}/*"
              - !Sub "${PaperDeliveryMockTableArn}"
              - !Sub "${PaperDeliveryMockTableArn}/*"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesMockTableArn}/*"
              - !Sub "${PaperDeliveryCounterMockTableArn}"
              - !Sub "${PaperDeliveryCounterMockTableArn}/*"
              - !Sub "${PaperDeliveryUsedSenderLimitMockTableArn}"
              - !Sub "${PaperDeliveryUsedSenderLimitMockTableArn}/*"
          - Effect: Allow
            Action:
              - dynamodb:UpdateItem
            Resource:
              - !Sub "${PaperDeliveryCounterTableArn}"
              - !Sub "${PaperDeliveryCounterTableArn}/*"
              - !Sub "${PaperDeliveryCounterMockTableArn}"
              - !Sub "${PaperDeliveryCounterMockTableArn}/*"
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:HeadObject
              - s3:ListBucket
              - s3:GetObjectTagging
              - s3:PutObject
            Resource:
              - !Sub "${TestDelayerBucketArn}"
              - !Sub "${TestDelayerBucketArn}/*"
          - Sid: DecryptObjects
            Effect: Allow
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - kms:GenerateDataKey
            Resource:
              - !Sub "${TestDelayerKmsBucketArn}"
          - Effect: Allow
            Action:
              - states:StartExecution
              - states:ListExecutions
            Resource:
              - !Ref PaperDeliveryStateMachine
              - !Ref DelayerToPaperChannelStateMachine
          - Effect: Allow
            Action:
              - states:DescribeExecution
            Resource:
              - !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:execution:BatchWorkflowStateMachine:*
              - !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:execution:DelayerToPaperChannelStateMachine:*
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource:
              - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PaperChannelTenderApiLambdaName}

  TestDelayerLambdaNotProdPolicy:
    Type: AWS::IAM::Policy
    Condition: IsNotProdEnvironment
    Properties:
      PolicyName: !Sub ${ProjectName}-testDelayerLambdaNotProdPolicy
      Roles:
        - !Ref TestDelayerLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:BatchWriteItem
            Resource:
              - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}/*"
              - !Sub "${PaperDeliveryUsedSenderLimitTableArn}"
              - !Sub "${PaperDeliveryUsedSenderLimitTableArn}/*"
              - !Sub "${PaperDeliveryCounterTableArn}"
              - !Sub "${PaperDeliveryCounterTableArn}/*"
              - !Sub "${PaperDeliveryTableArn}"
              - !Sub "${PaperDeliveryTableArn}/*"

  #########################################################
  ###         PreRunAlgorithmLambda                ###
  #########################################################

  PreRunAlgorithmLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${PreRunAlgorithmLambdaName}-sec-group'
      VpcId: !Ref VpcId

  # Lambda function
  PreRunAlgorithmLambda:
    Type: AWS::Lambda::Function
    Properties:
      MemorySize: 512
      FunctionName: !Ref PreRunAlgorithmLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/preRunAlgorithmLambda.zip"
      Role: !GetAtt PreRunAlgorithmLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 900 #15 min

  # Lambda function role
  PreRunAlgorithmLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-preRunAlgorithmLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  DelayerStartWorkflowScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${ProjectName}-delayerStartWorkflowScheduleRule'
      ScheduleExpression: !Sub cron(${DelayerStartWorkflowCron})
      State: !Ref DelayerStartWorkflowRuleState
      Targets:
        - Id: StepFunctionTarget
          Arn: !Ref PaperDeliveryStateMachine
          RoleArn: !GetAtt DelayerStartWorkflowScheduleRuleRole.Arn
          Input: !Sub |
            {
              "PAPERDELIVERY_TABLENAME": "${PaperDeliveryTableName}",
              "PAPERDELIVERYDRIVERCAPACITIES_TABLENAME": "${PaperDeliveryDriverCapacitiesTableName}",
              "PAPERDELIVERYDRIVERUSEDCAPACITIES_TABLENAME": "${PaperDeliveryDriverUsedCapacitiesTableName}",
              "PAPERDELIVERYCOUNTER_TABLENAME": "${PaperDeliveryCounterTableName}",
              "PAPERDELIVERYSENDERLIMIT_TABLENAME": "${PaperDeliverySenderLimitTableName}",
              "PAPERDELIVERYUSEDSENDERLIMIT_TABLENAME": "${PaperDeliveryUsedSenderLimitTableName}",
              "PN_DELAYER_DELIVERYDATEDAYOFWEEK": "${DeliveryDateDayOfWeek}",
              "PN_DELAYER_PRINTCAPACITY": "${PrintCapacity}",
              "PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON": "${DelayerToPaperChannelFirstSchedulerCron}",
              "PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON": "${DelayerToPaperChannelSecondSchedulerCron}",
              "PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE": "${DelayerToPaperChannelFirstSchedulerStartDate}",
              "PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE": "${DelayerToPaperChannelSecondSchedulerStartDate}",
              "PN_DELAYER_DELIVERYWEEK": null
            }

  DelayerStartWorkflowScheduleRuleRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-delayerStartWorkflowScheduleRuleRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionInvokePolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref PaperDeliveryStateMachine

  #########################################################
  ###             SwitchOffAlgorithmLambda              ###
  #########################################################

  SwitchOffAlgorithmLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${SwitchOffAlgorithmLambdaName}-sec-group'
      VpcId: !Ref VpcId

  # Lambda function
  SwitchOffAlgorithmLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref SwitchOffAlgorithmLambdaName
      Runtime: nodejs22.x
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/switchOffAlgorithmLambda.zip"
      Role: !GetAtt SwitchOffAlgorithmLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
          DELAYER_PAPER_DELIVERY_TABLE_NAME: !Ref PaperDeliveryTableName
          QUERY_LIMIT: !Ref PaperDeliveryQueryLimit
          DELIVERYDATEDAYOFWEEK: !Ref DeliveryDateDayOfWeek
          PAPER_DELIVERY_PRIORITY_PARAMETER: "{{resolve:ssm:/config/pn-delayer/paper-delivery-priority}}"
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 10

  # Lambda function role
  SwitchOffAlgorithmLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-SwitchOffAlgorithmLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Lambda function IAM policy
  SwitchOffAlgorithmLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-SwitchOffAlgorithmLambdaPolicy
      Roles:
        - !Ref SwitchOffAlgorithmLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:Query
              - dynamodb:PutItem
              - dynamodb:BatchWriteItem
            Resource:
              - !Sub "${PaperDeliveryTableArn}"
              - !Sub "${PaperDeliveryTableArn}/*"

  SwitchOffAlgorithmLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref SwitchOffAlgorithmLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  #########################################################
  ###         KinesisNotificationCancellationLambda         ###
  #########################################################

  KinesisNotificationCancellationLambdaSecGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub '${KinesisNotificationCancellationLambdaName}-sec-group'
      VpcId: !Ref VpcId

  # Lambda function
  KinesisNotificationCancellationLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref KinesisNotificationCancellationLambdaName
      Runtime: nodejs22.x
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/kinesisNotificationCancellationLambda.zip"
      Role: !GetAtt KinesisNotificationCancellationLambdaRole.Arn
      Environment:
        Variables:
          REGION: !Sub ${AWS::Region}
          DELAYER_PAPER_DELIVERY_TABLE_NAME: !Ref PaperDeliveryTableName
          KINESIS_BATCHSIZE: !Ref KinesisNotificationCancellationLambdaBatchSize
          TIMELINE_SERVICE_BASE_PATH: !Ref ApplicationLoadBalancerDomain
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 10

  # Lambda function role
  KinesisNotificationCancellationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-kinesisNotificationCancellationLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Lambda function IAM policy
  KinesisNotificationCancellationLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-KinesisNotificationCancellationLambdaPolicy
      Roles:
        - !Ref KinesisNotificationCancellationLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:Query
              - dynamodb:DeleteItem
              - dynamodb:PutItem
              - dynamodb:TransactWriteItems
            Resource:
              - !Sub "${PaperDeliveryTableArn}"
              - !Sub "${PaperDeliveryTableArn}/*"
          - Effect: Allow
            Action:
              - kinesis:DescribeStream
              - kinesis:DescribeStreamSummary
              - kinesis:GetShardIterator
              - kinesis:GetRecords
              - kinesis:ListShards
              - kinesis:ListStreams
              - kinesis:SubscribeToShard
            Resource: !Ref CdcKinesisSourceStreamArn
          - Action: kms:Decrypt
            Effect: Allow
            Resource: !Ref CdcKinesisSourceStreamKeyArn
          - Effect: Allow
            Action:
              - sqs:ChangeMessageVisibility
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
              - sqs:SendMessage
            Resource:
              !Ref KinesisNotificationCancellationLambdaDLQARN

  # CDC to NotificationCancellationLambda
  KinesisNotificationCancellationLambdaSource:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: !Sub ${KinesisNotificationCancellationLambdaBatchSize}
      BisectBatchOnFunctionError: true
      EventSourceArn: !Ref CdcKinesisSourceStreamArn
      FunctionName: !Ref KinesisNotificationCancellationLambda
      FunctionResponseTypes:
        - ReportBatchItemFailures
      MaximumBatchingWindowInSeconds: !Sub ${KinesisNotificationCancellationLambdaBatchWindowInSeconds}
      MaximumRetryAttempts: !Ref KinesisNotificationCancellationLambdaMaxRetry
      StartingPosition: TRIM_HORIZON
      DestinationConfig:
        OnFailure:
          Destination: !Ref KinesisNotificationCancellationLambdaDLQARN
      FilterCriteria:
        Filters:
          - Pattern: >
              {
                "data": {
                  "tableName": ["pn-Timelines"],
                  "dynamodb": {
                    "NewImage": {
                      "reworkId": { "S": [ { "exists": true } ] },
                      "category": { "S": ["NOTIFICATION_CANCELLATION_REQUEST"] }
                    }
                  }
                }
              }

  KinesisNotificationCancellationLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref KinesisNotificationCancellationLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  #########################################################
  ###             ExportDelayerDataLambda               ###
  #########################################################
  # Lambda function
  ExportDelayerDataLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref ExportDelayerDataLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/exportDelayerDataLambda.zip"
      Role: !GetAtt ExportDelayerDataLambdaRole.Arn
      Environment:
        Variables:
          PAPER_DELIVERY_DRIVER_USED_TABLENAME: !Ref PaperDeliveryDriverUsedCapacitiesTableName
          DELIVERY_DATE_INDEX: deliveryDate-index
          SNS_TOPIC_NAME: !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:${DataAnalysisTopicName}
          MONITORING_BUCKET_NAME: !Sub "pn-datamonitoring-${AWS::Region}-${AWS::AccountId}"
          SIGN_URL_EXPIRATION: !Ref SignUrlExpiration
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 15

  # Lambda function role
  ExportDelayerDataLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-ExportDelayerDataLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Lambda function IAM policy
  ExportDelayerDataLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-ExportDelayerDataLambdaPolicy
      Roles:
        - !Ref ExportDelayerDataLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:Query
            Resource:
              - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}"
              - !Sub "${PaperDeliveryDriverUsedCapacitiesTableArn}/*"
          - Effect: Allow
            Action:
              - sns:Publish
            Resource:
              - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:${DataAnalysisTopicName}
          - Effect: Allow
            Action:
              - s3:PutObject
              - s3:GetObject
            Resource:
              - !Sub "arn:aws:s3:::pn-datamonitoring-${AWS::Region}-${AWS::AccountId}/postalizzazione/*"
              
  ExportDelayerDataLambdaAlarms:
    DependsOn:
      - ExportDelayerDataLambda
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref ExportDelayerDataLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  ExportDelayerDataLambdaSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: ExportDelayerDataRule
      ScheduleExpression: !Sub cron(${ExportDelayerDataLambdaCron})
      State: !Ref ExportDelayerDataRuleState
      Targets:
        - Arn: !GetAtt ExportDelayerDataLambda.Arn
          Id: "ExportDelayerDataLambdaTarget"

  LambdaExportDelayerDataInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref ExportDelayerDataLambda
      Action: "lambda:InvokeFunction"
      Principal: "events.amazonaws.com"
      SourceAccount: !Ref "AWS::AccountId"
      SourceArn: !GetAtt ExportDelayerDataLambdaSchedule.Arn

  #########################################################
  ###         ExportDryRunDashboardDataLambda           ###
  #########################################################
  # Lambda function
  ExportDryRunDashboardDataLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref ExportDryRunDashboardDataLambdaName
      Runtime: !Ref LambdaRuntime
      Handler: "index.handler"
      Code:
        S3Bucket: !Ref MicroserviceBucketName
        S3Key: !Sub "${MicroserviceBucketBaseKey}/functions_zip/exportDryRunDashboardDataLambda.zip"
      Role: !GetAtt ExportDryRunDashboardDataLambdaRole.Arn
      Environment:
        Variables:
          MONITORING_BUCKET_NAME: !Sub "pn-datamonitoring-${AWS::Region}-${AWS::AccountId}"
          ATHENA_DATABASE_NAME: !Ref AthenaDatabaseName
          ATHENA_WORKGROUP_NAME: cdc_analytics_workgroup
          QUERY_MONTHS: !Ref MonthsToRetrieveDataQuery
      TracingConfig:
        Mode: Active
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:339249233099:layer:LambdaInsightsExtension:13"
      Timeout: 300

  # Lambda function role
  ExportDryRunDashboardDataLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-ExportDryRunDashboardDataLambdaRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref "AWS::AccountId"
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Lambda function IAM policy
  ExportDryRunDashboardDataLambdaPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-ExportDryRunDashboardDataLambdaPolicy
      Roles:
        - !Ref ExportDryRunDashboardDataLambdaRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          #athena permission
          - Effect: Allow
            Action:
              - athena:StartQueryExecution
              - athena:GetQueryExecution
              - athena:GetQueryResults
              - athena:ListQueryExecutions
              - glue:GetDatabase
              - glue:GetDatabases
              - glue:GetTable
              - glue:GetTables
              - glue:GetPartition
              - glue:GetPartitions
            Resource:
              - !Sub arn:aws:athena:${AWS::Region}:${AWS::AccountId}:workgroup/cdc_analytics_workgroup
              - !Sub arn:aws:glue:${AWS::Region}:${AWS::AccountId}:catalog
              - !Sub arn:aws:glue:${AWS::Region}:${AWS::AccountId}:database/${AthenaDatabaseName}
              - !Sub arn:aws:glue:${AWS::Region}:${AWS::AccountId}:table/${AthenaDatabaseName}/*
          - Effect: Allow
            Action:
              - s3:PutObject
              - s3:GetObject
              - s3:ListBucket
              - s3:GetBucketLocation
              - s3:AbortMultipartUpload
              - s3:ListMultipartUploadParts
            Resource:
              - !Sub "arn:aws:s3:::pn-datamonitoring-${AWS::Region}-${AWS::AccountId}"
              - !Sub "arn:aws:s3:::pn-datamonitoring-${AWS::Region}-${AWS::AccountId}/*"
              - !Sub "arn:aws:s3:::pn-logs-bucket-${AWS::Region}-${AWS::AccountId}-001"
              - !Sub "arn:aws:s3:::pn-logs-bucket-${AWS::Region}-${AWS::AccountId}-001/*"
          - Effect: Allow
            Action:
              - s3:DeleteObject
            Resource:
              - !Sub "arn:aws:s3:::pn-datamonitoring-${AWS::Region}-${AWS::AccountId}/athena_results/*"
          - Effect: Allow
            Action:
              - kms:Decrypt
            Resource:
              - "*"

  ExportDryRunDashboardDataLambdaAlarms:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: !Sub "${TemplateBucketBaseUrl}/fragments/lambda-alarms.yaml"
      Parameters:
        FunctionName: !Ref ExportDryRunDashboardDataLambda
        AlarmSNSTopicArn: !Ref AlarmSNSTopicArn

  ExportDryRunDashboardDataLambdaSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: ExportDryRunDashboardDataRuleState
      ScheduleExpression: !Sub cron(${ExportDryRunDashboardDataLambdaCron})
      State: !Ref ExportDryRunDashboardDataRuleState
      Targets:
        - Arn: !GetAtt ExportDryRunDashboardDataLambda.Arn
          Id: "ExportDryRunDashboardDataLambdaTarget"

  LambdaExportDryRunDashboardDataInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref ExportDryRunDashboardDataLambda
      Action: "lambda:InvokeFunction"
      Principal: "events.amazonaws.com"
      SourceAccount: !Ref "AWS::AccountId"
      SourceArn: !GetAtt ExportDryRunDashboardDataLambdaSchedule.Arn

  LightAlgorithmStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn:
      - LightAlgorithmStateMachinePolicy
    Properties:
      StateMachineName: LightAlgorithmStateMachine
      RoleArn: !GetAtt LightAlgorithmStateMachineRole.Arn
      DefinitionS3Location:
        Bucket: !Ref MicroserviceBucketName
        Key: !Sub "${MicroserviceBucketBaseKey}/static/stepfunctions/definitions/LightAlgorithmStateMachine.json"
        DefinitionSubstitutions:
          DelayerToPaperChannelDailyFirstScheduler: !Ref DelayerToPaperChannelDailyFirstScheduler
          DelayerToPaperChannelFirstScheduleExpression: !Sub cron(${DelayerToPaperChannelFirstSchedulerCron})
          DelayerToPaperChannelStateMachine: !Ref DelayerToPaperChannelStateMachine
          DelayerToPaperChannelDailyScheduleRuleRoleArn: !GetAtt DelayerToPaperChannelDailyScheduleRuleRole.Arn
          DelayerToPaperChannelDailySecondScheduler:  !Ref DelayerToPaperChannelDailySecondScheduler
          DelayerToPaperChannelSecondScheduleExpression: !Sub cron(${DelayerToPaperChannelSecondSchedulerCron})
          LightAlgorithm: !Ref LightAlgorithmGlueJobName
        TracingConfiguration:
          Enabled: false

  LightAlgorithmStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-delayer-retryAlgorithmStateMachineRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole

    # Lambda function IAM policy
  LightAlgorithmStateMachinePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-delayer-lightAlgorithmStateMachinePolicy
      Roles:
        - !Ref LightAlgorithmStateMachineRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - scheduler:UpdateSchedule
            Resource:
              - !GetAtt DelayerToPaperChannelDailyFirstScheduler.Arn
              - !GetAtt DelayerToPaperChannelDailySecondScheduler.Arn
          - Effect: Allow
            Action:
              - glue:StartJobRun
              - glue:GetJobRun
              - glue:GetJobRuns
              - glue:BatchStopJobRun
            Resource:
              - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:job/${LightAlgorithmGlueJobName}"

  PaperDeliveryStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn:
      - PaperDeliveryStateMachinePolicy
    Properties:
      StateMachineName: BatchWorkflowStateMachine
      RoleArn: !GetAtt PaperDeliveryStateMachineRole.Arn
      Definition:
        Comment: "Paper Delivery State Machine"
        StartAt: PreRunAlgorithmLambda
        States:
          PreRunAlgorithmLambda:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload:
                deliveryWeek.$: $$.Execution.Input.PN_DELAYER_DELIVERYWEEK
              FunctionName: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PreRunAlgorithmLambdaName}
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: DynamoDB PutItem
            ResultSelector:
              deliveryWeek.$: $.Payload
            ResultPath: $.preRunAlgorithmResponse
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail

          DynamoDB PutItem:
            Type: Task
            Resource: arn:aws:states:::dynamodb:putItem
            Parameters:
              TableName.$: $$.Execution.Input.PAPERDELIVERYCOUNTER_TABLENAME
              Item:
                pk:
                  S: PRINT
                sk:
                  S.$: $.preRunAlgorithmResponse.deliveryWeek
                numberOfShipments:
                  N: "0"
                weeklyPrintCapacity:
                  N: "0"
                dailyPrintCapacity:
                  N: "0"
                dailyExecutionNumber:
                  N: "0"
                dailyExecutionCounter:
                  N: "0"
                sentToNextWeek:
                  N: "0"
                sentToPhaseTwo:
                  N: "0"
                stopSendToPhaseTwo:
                  BOOL: "true"
                lastEvaluatedKeyPhase2:
                  M: { }
                lastEvaluatedKeyNextWeek:
                  M: { }
            Next: GetActiveTender
            Retry:
              - ErrorEquals:
                  - States.ALL
                BackoffRate: 2
                IntervalSeconds: 1
                MaxAttempts: 3
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail
            ResultPath: $.toDiscard
          GetActiveTender:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PaperChannelTenderApiLambdaName}
              Payload:
                operation: GET_TENDER_ACTIVE
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: !Ref StepFunctionStateMaxAttempts
                BackoffRate: 2
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail
            Next: retrieveProvince
            ResultSelector:
              actualTenderId.$: $.Payload.body.tenderId
              deliveryWeek.$: $$.Execution.Input.PN_DELAYER_DELIVERYWEEK
              paperDeliveryTableName.$: $$.Execution.Input.PAPERDELIVERY_TABLENAME
              paperDeliveryDriverCapacitiesTableName.$: $$.Execution.Input.PAPERDELIVERYDRIVERCAPACITIES_TABLENAME
              paperDeliveryDriverUsedCapacitiesTableName.$: $$.Execution.Input.PAPERDELIVERYDRIVERUSEDCAPACITIES_TABLENAME
              paperDeliveryCounterTableName.$: $$.Execution.Input.PAPERDELIVERYCOUNTER_TABLENAME
              paperDeliverySenderLimitTableName.$: $$.Execution.Input.PAPERDELIVERYSENDERLIMIT_TABLENAME
              paperDeliveryUsedSenderLimitTableName.$: $$.Execution.Input.PAPERDELIVERYUSEDSENDERLIMIT_TABLENAME
              deliveryDateDayOfWeek.$: $$.Execution.Input.PN_DELAYER_DELIVERYDATEDAYOFWEEK
              printCapacity.$: $$.Execution.Input.PN_DELAYER_PRINTCAPACITY
              delayerToPaperChannelFirstSchedulerCron.$: $$.Execution.Input.PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON
              delayerToPaperChannelSecondSchedulerCron.$: $$.Execution.Input.PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON
              delayerToPaperChannelFirstSchedulerStartDate.$: $$.Execution.Input.PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE
              delayerToPaperChannelSecondSchedulerStartDate.$: $$.Execution.Input.PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE
          retrieveProvince:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:dynamodb:scan
            Parameters:
              TableName: pn-PaperChannelProvince
              ProjectionExpression: province
            ResultPath: $.provinces
            Next: MapSubmitSenderLimitJobs
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                MaxAttempts: !Ref StepFunctionStateMaxAttempts
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail
          MapSubmitSenderLimitJobs:
            Type: Map
            ItemsPath: $.provinces.Items
            InputPath: $
            MaxConcurrency: 5
            Parameters:
              province.$: $$.Map.Item.Value.province.S
              actualTenderId.$: $.actualTenderId
              deliveryWeek.$: $.deliveryWeek
              paperDeliveryCounterTableName.$: $.paperDeliveryCounterTableName
              paperDeliverySenderLimitTableName.$: $.paperDeliverySenderLimitTableName
              paperDeliveryUsedSenderLimitTableName.$: $.paperDeliveryUsedSenderLimitTableName
              paperDeliveryDriverCapacitiesTableName.$: $.paperDeliveryDriverCapacitiesTableName
              paperDeliveryTableName.$: $.paperDeliveryTableName
              deliveryDateDayOfWeek.$: $.deliveryDateDayOfWeek
              printCapacity.$: $.printCapacity
              delayerToPaperChannelFirstSchedulerCron.$: $.delayerToPaperChannelFirstSchedulerCron
              delayerToPaperChannelSecondSchedulerCron.$: $.delayerToPaperChannelSecondSchedulerCron
              delayerToPaperChannelFirstSchedulerStartDate.$: $.delayerToPaperChannelFirstSchedulerStartDate
              delayerToPaperChannelSecondSchedulerStartDate.$: $.delayerToPaperChannelSecondSchedulerStartDate
              paperDeliveryDriverUsedCapacitiesTableName.$: $.paperDeliveryDriverUsedCapacitiesTableName
            Iterator:
              StartAt: submitSenderLimitJob
              States:
                submitSenderLimitJob:
                  Type: Task
                  Resource: arn:aws:states:::batch:submitJob.sync
                  Parameters:
                    JobName.$: States.Format('{}', $.province)
                    JobQueue: !Ref SenderLimitJobQueue
                    JobDefinition: !Ref SenderLimitJobDefinition
                    ContainerOverrides:
                      Environment:
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYCOUNTERTABLENAME
                          Value.$: $.paperDeliveryCounterTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYSENDERLIMITTABLENAME
                          Value.$: $.paperDeliverySenderLimitTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYUSEDSENDERLIMITTABLENAME
                          Value.$: $.paperDeliveryUsedSenderLimitTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERCAPACITIESTABLENAME
                          Value.$: $.paperDeliveryDriverCapacitiesTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYTABLENAME
                          Value.$: $.paperDeliveryTableName
                        - Name: PN_DELAYER_EVALUATESENDERLIMITJOBINPUT_PROVINCE
                          Value.$: $.province
                        - Name: PN_DELAYER_ACTUALTENDERID
                          Value.$: $.actualTenderId
                        - Name: PN_DELAYER_WORKFLOWSTEP
                          Value: EVALUATE_SENDER_LIMIT
                        - Name: PN_DELAYER_DELIVERYDATEDAYOFWEEK
                          Value.$: $.deliveryDateDayOfWeek
                        - Name: PN_DELAYER_PRINTCAPACITY
                          Value.$: $.printCapacity
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON
                          Value.$: $.delayerToPaperChannelFirstSchedulerCron
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON
                          Value.$: $.delayerToPaperChannelSecondSchedulerCron
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE
                          Value.$: $.delayerToPaperChannelFirstSchedulerStartDate
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE
                          Value.$: $.delayerToPaperChannelSecondSchedulerStartDate
                        - Name: PN_DELAYER_DELIVERYWEEK
                          Value.$: $.deliveryWeek
#                  Retry:
#                    - ErrorEquals:
#                        - States.ALL
#                      IntervalSeconds: 1
#                      MaxAttempts: !Ref StepFunctionStateMaxAttempts
#                      BackoffRate: 2
                  Catch:
                    - ErrorEquals:
                        - States.ALL
                      Next: SenderLimitJobFail
                  OutputPath: $.Status
                  End: true
                SenderLimitJobFail:
                  Type: Fail
            ResultPath: $.ignoredMapResult
            Next: GetUnifiedDeliveryDriverProvinceParameter
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail
          GetUnifiedDeliveryDriverProvinceParameter:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:ssm:getParameter
            Parameters:
              Name: !Ref UnifiedDeliveryDriverProvinceParameter
              WithDecryption: true
            ResultSelector:
              unifiedDeliveryDrivers.$: States.StringToJson($.Parameter.Value)
            ResultPath: $.tempGetParameterResult
            Next: CleanUpInput
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                MaxAttempts: !Ref StepFunctionStateMaxAttempts
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail
          CleanUpInput:
            Type: Pass
            Parameters:
              paperDeliveryTableName.$: $.paperDeliveryTableName
              deliveryDateDayOfWeek.$: $.deliveryDateDayOfWeek
              paperDeliveryUsedSenderLimitTableName.$: $.paperDeliveryUsedSenderLimitTableName
              actualTenderId.$: $.actualTenderId
              deliveryWeek.$: $.deliveryWeek
              paperDeliverySenderLimitTableName.$: $.paperDeliverySenderLimitTableName
              paperDeliveryCounterTableName.$: $.paperDeliveryCounterTableName
              paperDeliveryDriverCapacitiesTableName.$: $.paperDeliveryDriverCapacitiesTableName
              paperDeliveryDriverUsedCapacitiesTableName.$: $.paperDeliveryDriverUsedCapacitiesTableName
              unifiedDeliveryDrivers.$: $.tempGetParameterResult.unifiedDeliveryDrivers
              printCapacity.$: $.printCapacity
              delayerToPaperChannelFirstSchedulerCron.$: $.delayerToPaperChannelFirstSchedulerCron
              delayerToPaperChannelSecondSchedulerCron.$: $.delayerToPaperChannelSecondSchedulerCron
              delayerToPaperChannelFirstSchedulerStartDate.$: $.delayerToPaperChannelFirstSchedulerStartDate
              delayerToPaperChannelSecondSchedulerStartDate.$: $.delayerToPaperChannelSecondSchedulerStartDate
            Next: MapSubmitEvaluateDriverCapacityJobs
          MapSubmitEvaluateDriverCapacityJobs:
            Type: Map
            ItemsPath: $.unifiedDeliveryDrivers
            InputPath: $
            MaxConcurrency: 40
            Parameters:
              driver.$: $$.Map.Item.Value.driver
              provinces.$: $$.Map.Item.Value.provinces
              actualTenderId.$: $.actualTenderId
              deliveryWeek.$: $.deliveryWeek
              paperDeliveryCounterTableName.$: $.paperDeliveryCounterTableName
              paperDeliverySenderLimitTableName.$: $.paperDeliverySenderLimitTableName
              paperDeliveryUsedSenderLimitTableName.$: $.paperDeliveryUsedSenderLimitTableName
              paperDeliveryDriverCapacitiesTableName.$: $.paperDeliveryDriverCapacitiesTableName
              paperDeliveryTableName.$: $.paperDeliveryTableName
              deliveryDateDayOfWeek.$: $.deliveryDateDayOfWeek
              printCapacity.$: $.printCapacity
              delayerToPaperChannelFirstSchedulerCron.$: $.delayerToPaperChannelFirstSchedulerCron
              delayerToPaperChannelSecondSchedulerCron.$: $.delayerToPaperChannelSecondSchedulerCron
              delayerToPaperChannelFirstSchedulerStartDate.$: $.delayerToPaperChannelFirstSchedulerStartDate
              delayerToPaperChannelSecondSchedulerStartDate.$: $.delayerToPaperChannelSecondSchedulerStartDate
              paperDeliveryDriverUsedCapacitiesTableName.$: $.paperDeliveryDriverUsedCapacitiesTableName
            Iterator:
              StartAt: submitEvaluateDriverCapacityJob
              States:
                submitEvaluateDriverCapacityJob:
                  Type: Task
                  Resource: arn:aws:states:::batch:submitJob.sync
                  Parameters:
                    JobName.$: $.driver
                    JobQueue: !Ref DriverCapacityJobQueue
                    JobDefinition: !Ref DriverCapacityJobDefinition
                    ArrayProperties:
                      Size.$: States.ArrayLength($.provinces)
                    ContainerOverrides:
                      Environment:
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERCAPACITIESTABLENAME
                          Value.$: $.paperDeliveryDriverCapacitiesTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERUSEDCAPACITIESTABLENAME
                          Value.$: $.paperDeliveryDriverUsedCapacitiesTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYCOUNTERTABLENAME
                          Value.$: $.paperDeliveryCounterTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYTABLENAME
                          Value.$: $.paperDeliveryTableName
                        - Name: PN_DELAYER_DELIVERYDATEDAYOFWEEK
                          Value.$: $.deliveryDateDayOfWeek
                        - Name: PN_DELAYER_PRINTCAPACITY
                          Value.$: $.printCapacity
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON
                          Value.$: $.delayerToPaperChannelFirstSchedulerCron
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON
                          Value.$: $.delayerToPaperChannelSecondSchedulerCron
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE
                          Value.$: $.delayerToPaperChannelFirstSchedulerStartDate
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE
                          Value.$: $.delayerToPaperChannelSecondSchedulerStartDate
                        - Name: PN_DELAYER_EVALUATEDRIVERCAPACITYJOBINPUT_UNIFIEDDELIVERYDRIVER
                          Value.$: $.driver
                        - Name: PN_DELAYER_EVALUATEDRIVERCAPACITYJOBINPUT_PROVINCELIST
                          Value.$: States.JsonToString($.provinces)
                        - Name: PN_DELAYER_ACTUALTENDERID
                          Value.$: $.actualTenderId
                        - Name: PN_DELAYER_WORKFLOWSTEP
                          Value: EVALUATE_DRIVER_CAPACITY
                        - Name: PN_DELAYER_DELIVERYWEEK
                          Value.$: $.deliveryWeek
#                  Retry:
#                    - ErrorEquals:
#                        - States.ALL
#                      IntervalSeconds: 1
#                      MaxAttempts: !Ref StepFunctionStateMaxAttempts
#                      BackoffRate: 2
                  Catch:
                    - ErrorEquals:
                        - States.ALL
                      Next: EvaluateDriverCapacityFail
                  End: true
                  OutputPath: $.Status
                EvaluateDriverCapacityFail:
                  Type: Fail
            ResultPath: $.ignoredMapResult
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail
            Next: MapSubmitEvaluateResidualCapacityJobs
          MapSubmitEvaluateResidualCapacityJobs:
            Type: Map
            ItemsPath: $.unifiedDeliveryDrivers
            InputPath: $
            MaxConcurrency: 40
            Parameters:
              driver.$: $$.Map.Item.Value.driver
              provinces.$: $$.Map.Item.Value.provinces
              actualTenderId.$: $.actualTenderId
              deliveryWeek.$: $.deliveryWeek
              paperDeliveryCounterTableName.$: $.paperDeliveryCounterTableName
              paperDeliverySenderLimitTableName.$: $.paperDeliverySenderLimitTableName
              paperDeliveryUsedSenderLimitTableName.$: $.paperDeliveryUsedSenderLimitTableName
              paperDeliveryDriverCapacitiesTableName.$: $.paperDeliveryDriverCapacitiesTableName
              paperDeliveryTableName.$: $.paperDeliveryTableName
              deliveryDateDayOfWeek.$: $.deliveryDateDayOfWeek
              printCapacity.$: $.printCapacity
              delayerToPaperChannelFirstSchedulerCron.$: $.delayerToPaperChannelFirstSchedulerCron
              delayerToPaperChannelSecondSchedulerCron.$: $.delayerToPaperChannelSecondSchedulerCron
              delayerToPaperChannelFirstSchedulerStartDate.$: $.delayerToPaperChannelFirstSchedulerStartDate
              delayerToPaperChannelSecondSchedulerStartDate.$: $.delayerToPaperChannelSecondSchedulerStartDate
              paperDeliveryDriverUsedCapacitiesTableName.$: $.paperDeliveryDriverUsedCapacitiesTableName
            Iterator:
              StartAt: submitEvaluateResidualCapacityJob
              States:
                submitEvaluateResidualCapacityJob:
                  Type: Task
                  Resource: arn:aws:states:::batch:submitJob.sync
                  Parameters:
                    JobName.$: $.driver
                    JobQueue: !Ref ResidualCapacityJobQueue
                    JobDefinition: !Ref ResidualCapacityJobDefinition
                    ArrayProperties:
                      Size.$: States.ArrayLength($.provinces)
                    ContainerOverrides:
                      Environment:
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERCAPACITIESTABLENAME
                          Value.$: $.paperDeliveryDriverCapacitiesTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYDRIVERUSEDCAPACITIESTABLENAME
                          Value.$: $.paperDeliveryDriverUsedCapacitiesTableName
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYTABLENAME
                          Value.$: $.paperDeliveryTableName
                        - Name: PN_DELAYER_DELIVERYDATEDAYOFWEEK
                          Value.$: $.deliveryDateDayOfWeek
                        - Name: PN_DELAYER_EVALUATERESIDUALCAPACITYJOBINPUT_UNIFIEDDELIVERYDRIVER
                          Value.$: $.driver
                        - Name: PN_DELAYER_EVALUATERESIDUALCAPACITYJOBINPUT_PROVINCELIST
                          Value.$: States.JsonToString($.provinces)
                        - Name: PN_DELAYER_ACTUALTENDERID
                          Value.$: $.actualTenderId
                        - Name: PN_DELAYER_WORKFLOWSTEP
                          Value: EVALUATE_RESIDUAL_CAPACITY
                        - Name: PN_DELAYER_DAO_PAPERDELIVERYCOUNTERTABLENAME
                          Value.$: $.paperDeliveryCounterTableName
                        - Name: PN_DELAYER_PRINTCAPACITY
                          Value.$: $.printCapacity
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERCRON
                          Value.$: $.delayerToPaperChannelFirstSchedulerCron
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERCRON
                          Value.$: $.delayerToPaperChannelSecondSchedulerCron
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELFIRSTSCHEDULERSTARTDATE
                          Value.$: $.delayerToPaperChannelFirstSchedulerStartDate
                        - Name: PN_DELAYER_DELAYERTOPAPERCHANNELSECONDSCHEDULERSTARTDATE
                          Value.$: $.delayerToPaperChannelSecondSchedulerStartDate
                        - Name: PN_DELAYER_DELIVERYWEEK
                          Value.$: $.deliveryWeek
#                  Retry:
#                    - ErrorEquals:
#                        - States.ALL
#                      IntervalSeconds: 1
#                      MaxAttempts: !Ref StepFunctionStateMaxAttempts
#                      BackoffRate: 2
                  Catch:
                    - ErrorEquals:
                        - States.ALL
                      Next: EvaluateResidualCapacityFail
                  End: true
                  OutputPath: $.Status
                EvaluateResidualCapacityFail:
                  Type: Fail
            ResultPath: $.ignoredMapResult
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: WorkflowFail
            Next: WorkflowSuccess
          WorkflowFail:
            Type: Fail
          WorkflowSuccess:
            Type: Succeed

  PaperDeliveryStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-paperDeliveryStateMachineRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole

    # Lambda function IAM policy
  PaperDeliveryStateMachinePolicy:
      Type: AWS::IAM::Policy
      Properties:
        PolicyName: !Sub ${ProjectName}-paperDeliveryStateMachinePolicy
        Roles:
          - !Ref PaperDeliveryStateMachineRole
        PolicyDocument:
          Version: 2012-10-17
          Statement:
            - Effect: Allow
              Action:
                - ssm:GetParameter
              Resource:
                - !Sub arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter${UnifiedDeliveryDriverProvinceParameter}
            - Effect: Allow
              Action:
                - dynamodb:Scan
              Resource:
                - !Sub "${ProvinceTableArn}"
                - !Sub "${ProvinceTableArn}/*"
            - Effect: Allow
              Action:
                - dynamodb:PutItem
              Resource:
                - !Sub "${PaperDeliveryCounterTableArn}"
                - !Sub "${PaperDeliveryCounterTableArn}/*"
                - !Sub "${PaperDeliveryCounterMockTableArn}"
                - !Sub "${PaperDeliveryCounterMockTableArn}/*"
            - Effect: Allow
              Action:
                - batch:SubmitJob
                - batch:DescribeJobs
              Resource:
                  - !Ref SenderLimitJobDefinition
                  - !Ref ResidualCapacityJobDefinition
                  - !Ref DriverCapacityJobDefinition
                  - !Ref SenderLimitJobQueue
                  - !Ref ResidualCapacityJobQueue
                  - !Ref DriverCapacityJobQueue
            - Effect: Allow
              Action:
                - lambda:InvokeFunction
              Resource:
                - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PaperChannelTenderApiLambdaName}
                - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${PreRunAlgorithmLambdaName}
            - Effect: Allow
              Action:
                - events:PutRule
                - events:PutTargets
                - events:DescribeRule
                - events:DeleteRule
                - events:RemoveTargets
                - events:TagResource
                - events:ListTagsForResource
                - events:PutPermission
              Resource: "*"

  DelayerToPaperChannelDailyFirstScheduler:
    Type: AWS::Scheduler::Schedule
    Properties:
      Name: !Sub '${ProjectName}-delayerToPaperChannelDailyFirstScheduler'
      ScheduleExpression: !Sub cron(${DelayerToPaperChannelFirstSchedulerCron})
      State: !Ref DelayerToPaperChannelDailyScheduleRuleState
      StartDate: !Ref DelayerToPaperChannelFirstSchedulerStartDate
      EndDate: !Ref DelayerToPaperChannelFirstSchedulerEndDate
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref DelayerToPaperChannelStateMachine
        RoleArn: !GetAtt DelayerToPaperChannelDailyScheduleRuleRole.Arn
        Input: !Sub |
          {
            "PAPERDELIVERYCOUNTER_TABLENAME": "${PaperDeliveryCounterTableName}",
            "PAPERDELIVERY_TABLENAME": "${PaperDeliveryTableName}",
            "PN_DELAYER_DELIVERYDATEDAYOFWEEK": "${DeliveryDateDayOfWeek}"
          }

  DelayerToPaperChannelDailySecondScheduler:
    Type: AWS::Scheduler::Schedule
    Properties:
      Name: !Sub '${ProjectName}-delayerToPaperChannelDailySecondScheduler'
      ScheduleExpression: !Sub cron(${DelayerToPaperChannelSecondSchedulerCron})
      State: !Ref DelayerToPaperChannelDailyScheduleRuleState
      StartDate: !Ref DelayerToPaperChannelSecondSchedulerStartDate
      EndDate: !Ref DelayerToPaperChannelSecondSchedulerEndDate
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref DelayerToPaperChannelStateMachine
        RoleArn: !GetAtt DelayerToPaperChannelDailyScheduleRuleRole.Arn
        Input: !Sub |
          {
            "PAPERDELIVERYCOUNTER_TABLENAME": "${PaperDeliveryCounterTableName}",
            "PAPERDELIVERY_TABLENAME": "${PaperDeliveryTableName}",
            "PN_DELAYER_DELIVERYDATEDAYOFWEEK": "${DeliveryDateDayOfWeek}"
          }

  DelayerToPaperChannelDailyScheduleRuleRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-delayerToPaperChannelDailyScheduleRuleRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: DelayerToPaperChannelStepFunctionInvokePolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref DelayerToPaperChannelStateMachine

  DelayerToPaperChannelStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: DelayerToPaperChannelStateMachine
      RoleArn: !GetAtt DelayerToPaperChannelStateMachineRole.Arn
      Definition:
        Comment: Delayer to paper channel State Machine
        StartAt: RetrieveCounter
        States:
          RetrieveCounter:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:dynamodb:query
            Parameters:
              ExpressionAttributeValues:
                ":pk":
                  S: "PRINT"
              KeyConditionExpression: "pk = :pk"
              Limit: 1
              ScanIndexForward: false
              TableName.$: $$.Execution.Input.PAPERDELIVERYCOUNTER_TABLENAME
            ResultPath: $.queryResult
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                BackoffRate: 2
                MaxAttempts: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: RetrieveCounterOperationFail
            Next: CheckIfCounterExists

          CheckIfCounterExists:
            Type: Choice
            Choices:
              - Variable: $.queryResult.Count
                NumericGreaterThan: 0
                Next: MapItem
            Default: NoItemToProcess

          RetrieveCounterOperationFail:
            Type: Fail

          UpdateCounterOperationFail:
            Type: Fail

          MapItem:
            Type: Pass
            Next: Parallel
            Parameters:
              paperDeliveryTableName.$: $.PAPERDELIVERY_TABLENAME
              paperDeliveryCountersTableName.$: $.PAPERDELIVERYCOUNTER_TABLENAME
              fixed:
                dailyPrintCapacity.$: States.StringToJson($.queryResult.Items[0].dailyPrintCapacity.N)
                executionDate.$: $$.Execution.StartTime
                numberOfShipments.$: States.StringToJson($.queryResult.Items[0].numberOfShipments.N)
                pk.$: $.queryResult.Items[0].pk.S
                weeklyPrintCapacity.$: States.StringToJson($.queryResult.Items[0].weeklyPrintCapacity.N)
                sentToNextWeek.$: States.StringToJson($.queryResult.Items[0].sentToNextWeek.N)
                sentToPhaseTwo.$: States.StringToJson($.queryResult.Items[0].sentToPhaseTwo.N)
                sk.$: $.queryResult.Items[0].sk.S
                dailyExecutions.$: States.StringToJson($.queryResult.Items[0].dailyExecutionNumber.N)
                dailyExecutionCounter.$: States.StringToJson($.queryResult.Items[0].dailyExecutionCounter.N)
              variable:
                sendToNextStepCounter: 0
                sendToNextWeekCounter: 0
                lastEvaluatedKeyNextWeek.$: $.queryResult.Items[0].lastEvaluatedKeyNextWeek.M
                lastEvaluatedKeyPhase2.$: $.queryResult.Items[0].lastEvaluatedKeyPhase2.M
                lastExecution: false
                stopSendToPhaseTwo.$: $.queryResult.Items[0].stopSendToPhaseTwo.Bool


          Parallel:
            Type: Parallel
            Next: IsLastEvaluatedKeyNextWeekNull
            ResultPath: $.variable
            Branches:
              - StartAt: SendPrintCapacityExceedToNextWeek
                States:
                  SendPrintCapacityExceedToNextWeek:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    Parameters:
                      FunctionName: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DelayerToPaperChannelLambdaName}
                      Payload:
                        variable.$: $.variable
                        fixed.$: $.fixed
                        paperDeliveryTableName.$: $.paperDeliveryTableName
                        executionDate.$: $$.Execution.StartTime
                        processType: SEND_TO_NEXT_WEEK
                    ResultSelector:
                      lastEvaluatedKeyNextWeek.$: $.Payload.lastEvaluatedKeyNextWeek
                      sendToNextWeekCounter.$: $.Payload.sendToNextWeekCounter
                      lastExecution.$: $.Payload.lastExecution
                    ResultPath: $.variable
                    Retry:
                      - ErrorEquals:
                          - Lambda.ServiceException
                          - Lambda.AWSLambdaException
                          - Lambda.SdkClientException
                          - Lambda.TooManyRequestsException
                        IntervalSeconds: 1
                        BackoffRate: 2
                        MaxAttempts: 2
                        JitterStrategy: FULL
                    Catch:
                      - ErrorEquals:
                          - States.ALL
                        Next: SendPrintCapacityExceedToNextWeekFail
                    Next: MoreItemsToSendToNextWeek

                  MoreItemsToSendToNextWeek:
                    Type: Choice
                    Choices:
                      - And:
                          - Not:
                              Variable: $.variable.lastEvaluatedKeyNextWeek
                              IsNull: true
                          - Variable: $.variable.sendToNextWeekCounter
                            NumericLessThan: 250000
                        Next: SendPrintCapacityExceedToNextWeek
                    Default: ToNextWeekSuccessfully

                  SendPrintCapacityExceedToNextWeekFail:
                    Type: Fail

                  ToNextWeekSuccessfully:
                    Type: Succeed

              - StartAt: SendPaperDeliveryToPreparePhase2
                States:
                  SendPaperDeliveryToPreparePhase2:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    Parameters:
                      FunctionName: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DelayerToPaperChannelLambdaName}
                      Payload:
                        variable.$: $.variable
                        fixed.$: $.fixed
                        paperDeliveryTableName.$: $.paperDeliveryTableName
                        executionDate.$: $$.Execution.StartTime
                        processType: SEND_TO_PHASE_2
                    ResultSelector:
                      lastEvaluatedKeyPhase2.$: $.Payload.lastEvaluatedKeyPhase2
                      sendToNextStepCounter.$: $.Payload.sendToNextStepCounter
                      lastExecution.$: $.Payload.lastExecution
                      stopSendToPhaseTwo.$: $.Payload.stopSendToPhaseTwo
                      numberOfShipmentsPerExecution.$: $.Payload.numberOfShipmentsPerExecution
                    ResultPath: $.variable
                    Retry:
                      - ErrorEquals:
                          - Lambda.ServiceException
                          - Lambda.AWSLambdaException
                          - Lambda.SdkClientException
                          - Lambda.TooManyRequestsException
                        IntervalSeconds: 1
                        BackoffRate: 2
                        MaxAttempts: 2
                        JitterStrategy: FULL
                    Catch:
                      - ErrorEquals:
                          - States.ALL
                        Next: SendPaperDeliveryToPreparePhase2Fail
                    Next: MoreItemsToSendToPreparePhase2

                  MoreItemsToSendToPreparePhase2:
                    Type: Choice
                    Choices:
                      - And:
                          - Not:
                              Variable: $.variable.lastEvaluatedKeyPhase2
                              IsNull: true
                          - Variable: $.variable.sendToNextStepCounter
                            NumericLessThanPath: $.fixed.dailyPrintCapacity
                          - Variable: $.variable.sendToNextStepCounter
                            NumericLessThanPath: $.variable.numberOfShipmentsPerExecution
                        Next: SendPaperDeliveryToPreparePhase2
                    Default: ToPreparePhase2Successfully

                  SendPaperDeliveryToPreparePhase2Fail:
                    Type: Fail

                  ToPreparePhase2Successfully:
                    Type: Succeed

            ResultSelector:
              lastEvaluatedKeyPhase2.$: $[1].variable.lastEvaluatedKeyPhase2
              sendToNextStepCounter.$: $[1].variable.sendToNextStepCounter
              lastEvaluatedKeyNextWeek.$: $[0].variable.lastEvaluatedKeyNextWeek
              sendToNextWeekCounter.$: $[0].variable.sendToNextWeekCounter
              lastExecution.$: $[1].variable.lastExecution
              stopSendToPhaseTwo.$: $[1].variable.stopSendToPhaseTwo
          IsLastEvaluatedKeyNextWeekNull:
            Type: Choice
            Choices:
              - Variable: $.variable.lastEvaluatedKeyNextWeek
                IsNull: true
                Next: PatchNextWeekNull
            Default: IsLastEvaluatedPhase2Null

          IsLastEvaluatedPhase2Null:
            Type: Choice
            Choices:
              - Variable: $.variable.lastEvaluatedKeyPhase2
                IsNull: true
                Next: PatchPhase2Null
            Default: LastExecution

          PatchPhase2Null:
            Type: Pass
            Next: LastExecution
            ResultPath: $.variable
            Parameters:
              lastEvaluatedKeyPhase2: { }
              lastEvaluatedKeyNextWeek.$: $.variable.lastEvaluatedKeyNextWeek
              sendToNextWeekCounter.$: $.variable.sendToNextWeekCounter
              sendToNextStepCounter.$: $.variable.sendToNextStepCounter
              lastExecution.$: $.variable.lastExecution
              stopSendToPhaseTwo: true

          PatchNextWeekNull:
            Type: Pass
            Next: IsLastEvaluatedPhase2Null
            ResultPath: $.variable
            Parameters:
              lastEvaluatedKeyNextWeek: { }
              lastEvaluatedKeyPhase2.$: $.variable.lastEvaluatedKeyPhase2
              sendToNextWeekCounter.$: $.variable.sendToNextWeekCounter
              sendToNextStepCounter.$: $.variable.sendToNextStepCounter
              lastExecution.$: $.variable.lastExecution
              stopSendToPhaseTwo.$: $.variable.stopSendToPhaseTwo
          LastExecution:
            Type: Choice
            Choices:
              - And:
                  - IsPresent: true
                    Variable: $.variable.lastExecution
                  - BooleanEquals: true
                    Variable: $.variable.lastExecution
                Next: UpdatePaperDeliveryCounterResetExecution
            Default: UpdatePaperDeliveryCounter

          UpdatePaperDeliveryCounterResetExecution:
            Type: Task
            Resource: arn:aws:states:::dynamodb:updateItem
            Parameters:
              ExpressionAttributeValues:
                ":dailyExecutionCounterInc":
                  N: "0"
                ":nextWeekVal":
                  M.$: $.variable.lastEvaluatedKeyNextWeek
                ":phase2Val":
                  M.$: $.variable.lastEvaluatedKeyPhase2
                ":sentToNextWeekInc":
                  "N.$": "States.Format('{}', $.variable.sendToNextWeekCounter)"
                ":sentToPhaseTwoInc":
                  "N.$": "States.Format('{}', $.variable.sendToNextStepCounter)"
                ":stopSendToPhaseTwoVal":
                  BOOL.$: $.variable.stopSendToPhaseTwo
              Key:
                pk:
                  S.$: $.fixed.pk
                sk:
                  S.$: $.fixed.sk
              TableName.$: $.paperDeliveryCountersTableName
              UpdateExpression: "SET lastEvaluatedKeyPhase2 = :phase2Val, lastEvaluatedKeyNextWeek = :nextWeekVal, dailyExecutionCounter = :dailyExecutionCounterInc, stopSendToPhaseTwo = :stopSendToPhaseTwoVal ADD sentToNextWeek :sentToNextWeekInc, sentToPhaseTwo :sentToPhaseTwoInc"
            End: true
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                BackoffRate: 2
                MaxAttempts: 3
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: UpdateCounterOperationFail

          NoItemToProcess:
            Type: Succeed

          UpdatePaperDeliveryCounter:
            Type: Task
            Resource: arn:aws:states:::dynamodb:updateItem
            Parameters:
              ExpressionAttributeValues:
                ":nextWeekVal":
                  M.$: $.variable.lastEvaluatedKeyNextWeek
                ":phase2Val":
                  M.$: $.variable.lastEvaluatedKeyPhase2
                ":sentToNextWeekInc":
                  "N.$": "States.Format('{}', $.variable.sendToNextWeekCounter)"
                ":sentToPhaseTwoInc":
                  "N.$": "States.Format('{}', $.variable.sendToNextStepCounter)"
                ":dailyExecutionCounterInc":
                  N: "1"
                ":stopSendToPhaseTwoVal":
                  BOOL.$: $.variable.stopSendToPhaseTwo
              Key:
                pk:
                  S.$: $.fixed.pk
                sk:
                  S.$: $.fixed.sk
              TableName.$: $.paperDeliveryCountersTableName
              UpdateExpression: "SET lastEvaluatedKeyPhase2 = :phase2Val, lastEvaluatedKeyNextWeek = :nextWeekVal, stopSendToPhaseTwo = :stopSendToPhaseTwoVal ADD sentToNextWeek :sentToNextWeekInc, sentToPhaseTwo :sentToPhaseTwoInc, dailyExecutionCounter :dailyExecutionCounterInc"
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                BackoffRate: 2
                MaxAttempts: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: UpdateCounterOperationFail
            End: true

  DelayerToPaperChannelStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-delayerToPaperChannelStateMachineRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole

  DelayerToPaperChannelStateMachinePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub ${ProjectName}-delayerToPaperChannelStateMachinePolicy
      Roles:
        - !Ref DelayerToPaperChannelStateMachineRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:Query
              - dynamodb:UpdateItem
            Resource:
              - !Sub "${PaperDeliveryCounterTableArn}"
              - !Sub "${PaperDeliveryCounterTableArn}/*"
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource:
              - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DelayerToPaperChannelLambdaName}"

  DelayerToPaperChannelPipe:
    Type: AWS::Pipes::Pipe
    Properties:
      Name: !Sub '${ProjectName}-delayerToPaperChannelPipe'
      RoleArn: !GetAtt DelayerToPaperChannelPipeExecutionRole.Arn
      Source: !Ref PaperDeliveryTableStreamArn
      DesiredState: !Ref DelayerToPaperChannelPipeState
      SourceParameters:
        DynamoDBStreamParameters:
          StartingPosition: LATEST
        FilterCriteria:
          Filters:
            - Pattern: >
                {
                  "eventName": ["INSERT"],
                  "dynamodb": {
                    "NewImage": {
                      "pk": {
                        "S": [{ "suffix": "SENT_TO_PREPARE_PHASE_2" }]
                      }
                    }
                  }
                }
      Target: !Ref DelayerToPaperChannelQueueARN
      TargetParameters:
        InputTemplate: >
          {
            "requestId": <$.dynamodb.NewImage.requestId.S>,
            "iun": <$.dynamodb.NewImage.iun.S>
          }

  DelayerToPaperChannelPipeExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-DelayerToPaperChannelPipeExecutionRole'
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: pipes.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: PipeDynamoDBToSqsPolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:DescribeStream
                  - dynamodb:GetRecords
                  - dynamodb:GetShardIterator
                  - dynamodb:ListStreams
                Resource:
                  - !Sub "${PaperDeliveryTableArn}"
                  - !Sub "${PaperDeliveryTableArn}/*"
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource: !Ref DelayerToPaperChannelQueueARN

  DelayerOrdersSendersQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref SafeStorageToDelayerReceiverOrdersSendersLambdaQueueURL
      PolicyDocument:
        Statement:
          - Sid: "SendEventsToDLQ"
            Effect: "Allow"
            Principal:
              Service:
                - "events.amazonaws.com"
            Action:
              - "SQS:SendMessage"
            Resource:
              - !Ref SafeStorageToDelayerReceiverOrdersSendersLambdaQueueARN

  DelayerNotificationOrdersQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref SafeStorageToNotificationOrdersQueueURL
      PolicyDocument:
        Statement:
          - Sid: "SendEventsToDLQ"
            Effect: "Allow"
            Principal:
              Service:
                - "events.amazonaws.com"
            Action:
              - "SQS:SendMessage"
            Resource:
              - !Ref SafeStorageToNotificationOrdersQueueARN

  LightAlgorithmGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Ref LightAlgorithmGlueJobName
      Role: !GetAtt LightAlgorithmGlueJobRole.Arn
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${MicroserviceBucketName}/${MicroserviceBucketBaseKey}/static/glue/scripts/LightAlgorithmScript.py"
        PythonVersion: "3"
      DefaultArguments:
        "--job-language": "python"
        "--paper-delivery-table-name": !Ref PaperDeliveryTableName
        "--province-table-name": !Ref ProvinceTableName
        "--counter-table-name": !Ref PaperDeliveryCounterTableName
        "--priority-parameter": "{{resolve:ssm:/config/pn-delayer/paper-delivery-priority}}"
        "--counter-ttl-days": !Ref PrintCounterTtlDays
        "--counter-working-days": !Ref PrintCapacityWeeklyWorkingDays
        "--print-capacity": !Ref PrintCapacity
        "--parallelism": !Ref LightAlgorithmGlueJobParallelism
        "--log-every": "20000"
        "--enable-continuous-cloudwatch-log": "true"
        "--enable-metrics": "true"
        "--enable-spark-ui": "true"
        "--TempDir": !Sub "s3://aws-glue-assets-${AWS::AccountId}-${AWS::Region}/temporary/"
      MaxRetries: 0
      Timeout: 480
      GlueVersion: "5.0"
      WorkerType: G.1X
      NumberOfWorkers: 2
      ExecutionClass: STANDARD
      ExecutionProperty:
        MaxConcurrentRuns: 1

  LightAlgorithmGlueJobRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-delayer-LightAlgorithmGlueJobRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: glue.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSGlueServiceRole
      Policies:
        - PolicyName: LightAlgorithmGlueJobPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:PutItem
                  - dynamodb:BatchWriteItem
                Resource:
                  - !Sub "${PaperDeliveryTableArn}"
                  - !Sub "${PaperDeliveryTableArn}/*"
                  - !Sub "${PaperDeliveryCounterTableArn}"
                  - !Sub "${PaperDeliveryCounterTableArn}/*"
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource:
                  - !Sub arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter${PaperDeliveryPriorityParameterName}